<nav class="slinky">
      <ul>
         <form>
            <div class="form-group m-0">
               <input type="search" class="form-control search" name="search" placeholder="Search for ...">
            </div> 
         </form>
         
         <li data-category="FS" class="form">
            <a href="#0">
               <i data-feather="package" class="mr-2"></i>
               Furniture service
            </a>
    
            <ul>
               <li class="form">
                  <div class="p-4">
                     <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" class="form-control" name="phone" value="+1 " id="phone" pattern="[0-9]*">
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col">
                              <label for="fname">First name</label>
                              <input type="text" class="form-control" name="fname" id="fname" autocomplete="off">
                           </div>
                           <div class="col  pl-0">
                              <label for="lname">Last name</label>
                              <input type="text" class="form-control" name="lname" id="lname" autocomplete="off">
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" name="address" id="address" autocomplete="off">
                        <input type="hidden" name="lat" readonly>
                        <input type="hidden" name="lng" readonly>
                        <!--<input type="hidden" name="utc" readonly>-->
                        
                     </div> 
                     <div class="form-group row mb-0">
                        <div class="col-4">
                           <label for="optional">Opt.</label>
                           <input type="text" class="form-control" name="optional" id="optional">
                        </div>
                        <div class="col pl-0">
                           <label for="zipcode">Zipcode</label>
                           <input type="zipcode" class="form-control" name="zipcode" id="zipcode">
                        </div>
                     </div>
                  </div>
   
                  <a href="#0" class="button mx-4 mb-4">
                     Order information
                  </a>
   
                  <ul>
                     <li>
                        <div class="p-4">
                           <div class="form-group">
                              <label for="subcomment">
                                 Comment
                                 <small class="d-block">Only managers allowed to see it.</small>
                              </label>
                              <textarea class="form-control subcomment" name="subcomment" id="subcomment" style="min-height: 47px;"></textarea>
                           </div>
                           
                           <div class="form-group row">
                              <div class="col">
                                 <label for="vendor">Vendor</label>
                                 <select class="form-control" name="vendor" id="vendor" data-type="vendor"></select>
                              </div>
                              <div class="col-3 pl-0">
                                 <label for="sc">SC</label>
                                 <input type="text" class="form-control" name="sc" id="sc">
                              </div>
                           </div>
      
                           <div class="form-group">
                              <label for="product">Product</label>
                              <input type="text" class="form-control" name="product" id="product">
                           </div>
      
                           <div class="form-group">
                              <label for="comment">
                                 Order description
                                 <small class="d-block">Provide maximum order description for master.</small>
                              </label>
                              <textarea class="form-control comment" name="comment" id="comment" style="min-height: 83px;"></textarea>
                           </div>
      
                           <div class="form-group mt-2 mb-0">
                              <button class="request--create btn button background w-100" disabled>
                              <i data-feather="plus-circle"></i> Create request
                              </button>
                           </div>
                        </div>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
   
         <li data-category="MI" class="form">
            <a href="#0">
               <i data-feather="clipboard" class="mr-2"></i>
               Mattress inspection
            </a>
   
            <ul>
               <li>
                  <div class="p-4">
                     <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" class="form-control" name="phone" value="+1 " id="phone" pattern="[0-9]*">
                     </div>
                     <div class="form-group">
                        <div class="row">
                           <div class="col">
                              <label for="fname">First name</label>
                              <input type="text" class="form-control" name="fname" id="fname" autocomplete="off">
                           </div>
                           <div class="col  pl-0">
                              <label for="lname">Last name</label>
                              <input type="text" class="form-control" name="lname" id="lname" autocomplete="off">
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" name="address" id="address" autocomplete="off">
                        <input type="hidden" name="lat" readonly>
                        <input type="hidden" name="lng" readonly>
                        <!--<input type="hidden" name="utc" readonly>-->
                     </div>
                     <div class="form-group row">
                        <div class="col-4">
                           <label for="optional">Opt.</label>
                           <input type="text" class="form-control" name="optional" id="optional">
                        </div>
                        <div class="col pl-0">
                           <label for="zipcode">Zipcode</label>
                           <input type="zipcode" class="form-control" name="zipcode" id="zipcode">
                        </div>
                     </div>
                     <div class="form-group m-0">
                        <label for="subcomment">Comment</label>
                        <textarea class="form-control subcomment" name="subcomment" id="subcomment" style="min-height: 47px;"></textarea>
                     </div>
                  </div>
   
                  <a href="#0" class="button mx-4 mb-4">
                     Order information
                  </a>
   
                  <ul>
                     <li>
                        <div class="p-4">
                           <div class="form-group">
                              <label for="vendor">Vendor</label>
                              <select class="form-control" name="vendor" id="vendor" data-type="vendor"></select>
                           </div>
   
                           <div class="form-group row">
                              <div class="col-4 pr-0">
                                 <label for="sc">SC</label>
                                 <input type="text" class="form-control" name="sc" id="sc">
                              </div>
                              <div class="col">
                                 <label for="dd">Delivery date</label>
                                 <input type="text" class="form-control date" name="dd" id="dd">
                              </div>
                           </div>
      
                           <div class="form-group">
                              <label for="product">Product</label>
                              <input type="text" class="form-control" name="product" id="product">
                           </div>
      
                           <div class="form-group">
                              <label for="comment">Order description</label>
                              <textarea class="form-control comment" name="comment" id="comment" style="min-height: 83px;"></textarea>
                           </div>
      
                           <div class="form-group mt-2 mb-0">
                              <button class="request--create btn button background w-100">
                              <i data-feather="plus"></i> Create request
                              </button>
                           </div>
                        </div>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
   
   
         <li>
            <a href="#0" class="strong">
               New service
            </a>
   
            <ul>
               <li>
                  <div class="p-4">
                     <h4>Coming soon</h4>
                     <p>Here you will be able to create your own custom services.</p>

                     <div class="list soon"></div>
                  </div>
               </li>
            </ul>
         </li>
      </ul>
   </nav>
   
   