<nav class="slinky">
	<ul>
		<li>
			<a href="#0">
				<i data-feather="settings"></i> Edit profile
			</a>

			<ul>
				<li>
					<form class="p-3">
						<div class="form-group">
							<label for="phone">Phone</label>
							<input type="tel" class="form-control" name="phone" id="phone" pattern="[0-9]*">
						</div>
						<div class="form-group">
							<label for="fname">First name</label>
							<input type="text" class="form-control" name="fname" id="fname">
						</div>
						<div class="form-group">
							<label for="lname">Last name</label>
							<input type="text" class="form-control" name="lname" id="lname">
						</div>
					
						<div class="form-group animate mt-4 mb-0">
							<button class="request--create btn w-100 button background" disabled>
								<i data-feather="plus"></i> Save changes
							</button>
						</div>
					</form> 
				</li>
			</ul>
		</li>

		<li>
			<a href="#0" class="exit">
				<i data-feather="log-out"></i> Exit
			</a>
		</li>
	</ul>
</nav>
