body.admin {
	main {
		@include media-breakpoint-up(md) {
			min-height: calc(100vh - 1px);
			max-height: calc(100vh - 1px);
		}
	}

	.day {
		&.master,
		.master {
			.orders {
				margin-left: 30px;
				width: calc(100% - 30px);
				border-bottom: 5em solid transparent;
				margin-bottom: -5em;

				&:empty {
					border-bottom: 1px solid #f9f9f9;
					margin-bottom: 0;
					margin: 0;
					width: 100%;
				}

				.order {
					&:last-child {
						margin-bottom: 0 !important;
					}
				}
			}

			&.routed {
				.order {
					.position {
						display: block;
					}
				}
			}
		}
	}

	.order {
		.actions {
			.menu,
			.report {
				display: none;
			}

			.cancel {
				display: block;
			}
		}

		&[data-status="new"],
		&[data-status="changed"],
		&[data-status="waiting"],
		&[data-status="cancel"],
		&[data-status="archive"] {
			.actions {
				display: block;

				.menu {
					display: block;
				}

				.cancel {
					display: none !important;
				}
			}
		}

		&[data-status="waiting"] {
			.description {
				display: none !important;
			}
		}

		&[data-status="archive"] {
			.actions {
				display: none;
			}
		}

		&[data-status="done"] {
			.actions {
				.report {
					display: inline-block;
				}

				.cancel {
					display: none !important;
				}
			}
		}
	}
}