body,
html {
	margin: 0;
	padding: 0;
	font-family: $font;
	font-size: 18px;
	position: fixed;
	min-height: 100%;
	min-width: 100vw;
	max-width: 100vw;
	overflow: hidden;


	.order, a, .button, h1, h2, h3, h4, h5, h6 {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		 -khtml-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none; 
				user-select: none;
	}

	@include media-breakpoint-down(sm) {
		font-size: 18px;
		position: relative;
		transition: background .3s;


		input,
		label,
		select,
		textarea {
			-webkit-appearance: none;

			&.form-control {
				font-size: 18px;
			}
		}
	}

	&.popin {
		.masters {
			overflow: hidden;
		}

		@include media-breakpoint-down(sm) {
			body {
				background: #000;
				transition: all 0s;
			}

			&.offtop {
				main {
					> .container-fluid {
						pointer-events: none;
						opacity: .75;
						border-radius: .5em .5em 0 0;
						transform: scale(.9);
						transition: all .3s;
					}
				}

				.webview-menu {
					z-index: 1;
				}

				.webui-popover {
					position: fixed;
					height: calc(100vh - 50px);
					margin-top: 50px !important;
					border-radius: .5em .5em 0 0 !important;
					animation-duration: .3s;

					.webui-popover-content {
						padding-bottom: 5em;
						max-height: calc(100vh - 50px);
						border-radius: .5em .5em 0 0 !important;

						>.slinky {
							margin-bottom: 90px;
							border-radius: .5em .5em 0 0;
						}
					}
				}

				&.webview {
					main {
						margin-top: 20px;
					}

					.webui-popover {
						position: fixed;
						height: calc(100vh - 80px);
						margin-top: 80px !important;

						.webui-popover-content {
							max-height: calc(100vh - 80px);
							border-radius: .5em .5em 0 0 !important;
						}
					}
				}
			}
		}
	}

	&.me {
		main {
			background-color: transparent;
			overflow: hidden;

			@include media-breakpoint-down(sm) {
				position: relative;
				max-height: 100vh;
			}

			.container-fluid {
				background: #fff;

				@include media-breakpoint-down(sm) {
					position: relative;
					max-height: 100vh;
					overflow: auto;
					padding-bottom: 4em;
					-webkit-overflow-scrolling: touch;
				}
			}

			@include media-breakpoint-up(sm) {
				padding-left: 64px;
				background: transparent;
				position: fixed;
				z-index: 1;
				left: 0;
				top: 0;
				min-width: 100vw;
				min-height: 100%;
				overflow: auto;

				.container-fluid {
					position: fixed;
					width: calc(100% - 64px);
				}
			}
		}

		.header {
			> .avatar {
				background-color: $main;
			}
		}


		@include media-breakpoint-up(sm) {
			.header {
				> .avatar {
					position: fixed;
					z-index: 99;
					left: 10px;
					top: 10px;
				}
			}
		}
	}

	h4 {
		font-weight: 900;
	}

	.mouse-attractor,
	.mouse-attractor2 {
		visibility: hidden;
	}

	&:hover {

		.mouse-attractor,
		.mouse-attractor2 {
			visibility: visible;
		}
	}

	header {
		z-index: 3;
	}

	main {
		width: 100vw;
		height: 100vh;
		background: #fff;
		position: fixed;
		z-index: 1;
		transition: all .3s;

		.container-fluid {
			//height: 100vh;
			transition: all .3s;
		}
	}

	footer {
		z-index: 1;
	}

	&.dragging {
		-moz-user-select: -moz-none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		main {
			.container-fluid {
				-webkit-overflow-scrolling: none;
			}
		}
	}
}

.container {
	position: relative;
}

table {
	tr {
		td {
			word-break: break-word;
		}
	}
}

.flatpickr-calendar {
	box-shadow: rgba(0, 0, 0, 0.15) 0 0 50px;

	&.open {
		z-index: 9999999999 !important;
	}

	.flatpickr-time {
		border-top: 0;
	}

	&.noCalendar {
		max-width: 200px !important;
	}
}

.medium-zoom-overlay {
	z-index: 99999;
}

.medium-zoom-image {
	z-index: 999999;
}

.gallery {
	img {
		max-height: 62px;
		margin-right: 10px;
		margin-bottom: 5px;
		border-radius: 0.25em;
	}

	&:empty {
		display: none;
		/*
		width: 100%;
		height: 83px;
		background: #f9f9f9;
		border-radius: .5em; 
		*/
	}
}

.shadow {
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.05) !important;
}

input,
select,
textarea {
	&.form-control {
		font-size: 18px;
		padding: .5em;
		border-color: #f2f2f2;

		@include media-breakpoint-down(sm) {
			font-size: 18px;
		}

		&[readonly] {
			background: transparent;
		}

		&:hover {
			box-shadow: 0 0 64px rgba(0, 0, 0, .08);
		}

		&:focus {
			border-color: $main;
			outline: none;
			box-shadow: 0 0 64px rgba(0, 0, 0, .08);
		}
	}

	&[readonly] {
		background: transparent;
	}
}

.box {
	padding: 30px;
	box-shadow: 0 10px 50px rgba(0, 0, 0, .1);
	border-radius: 0.5em;
	border: 1px solid #f9f9f9;
}

.loading {
	position: relative;
	color: rgba(0, 0, 0, 0) !important;

	svg {
		visibility: hidden !important;
		opacity: 0 !important;
	}

	.spinner {
		position: absolute;
		background-image: url("/dist/cache/loader.svg");
		background-repeat: no-repeat;
		background-position: center;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		background-size: auto 15%;
	}
}

input,
select,
textarea {
	border-radius: 0.25em;
	padding: 0.5rem 0.75rem;
	-webkit-appearance: none;
}

select {
	-webkit-appearance: none;
}

.search {
	position: relative;
	margin: 0;
	height: 62px !important;
	border: 0;

	@include media-breakpoint-down(sm) {
		height: 62px !important;
	}

	input {
		border: 0;
		font-weight: 900;
		border-radius: 0 !important;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		outline: none;
		margin-top: -3px;
		width: 100%;

		&:focus {
			border-color: $main;
		}

		& + label {
			position: absolute;
			color: #e3e3e3;
			margin: 0;
			right: 0;
			top: 12px;

			svg {
				width: 18px;
				height: 18px;
			}
		}

		&:focus+label {
			visibility: hidden;
		}
	}
}

.disabled {
	pointer-events: none;
	filter: grayscale(1);
}
 
.form-check-input {
	margin-left: 0;
	margin-top: 0.35rem;
}

a,
span {
	svg {
		width: 16px;
		height: 16px;
		margin-top: -4px;
		stroke-width: 2px;
	}
}

a {
	color: $main;
	transition: all .3s;

	&:hover {
		color: $dark;
		outline: none;
		transition: all .3s;
	}

	&:focus,
	&:active {
		outline: none;
	}

	&[data-popover] {
		&.loading {
			background-image: url(/dist/cache/icon/loader.gif);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 16px;
			transition: all 0s;
		}

		&[data-popover="other/popover/search"] {
			@include media-breakpoint-up(md) {
				float: right;
				width: 100%;
				border-radius: 5em;
				background-color: #f9f9f9;
				display: block;
				padding: .25em 1em;
				transition: all .3s;

				&:hover {
					background-color: #f2f2f2;
				}

				&.active {
					color: rgba(0, 0, 0, 0) !important;
					background-image: url(/dist/cache/loader.svg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 16px;
					background-color: #f2f2f2;
					width: 54px;
					transition: all .3s;
				}
			}
			
		}
	}

	&.active {
		color: #f2f2f2 !important;

		> strong,
		> span,
		> small {
			color: #f2f2f2 !important;
		}

		&[data-popover] {
			pointer-events: none;

			&[data-popover="admin/create/request"] {
				pointer-events: all;
			}
		}
	}

	&.red {
		color: $red !important;
	}

	&.create {
		font-weight: 900;
	}
}

.company {
	font-weight: 900;
	color: $main;

	&:hover {
		cursor: pointer;
		color: $dark;
	}
}

.animate {
	position: relative !important;
	visibility: hidden !important;
}

h2 {
	font-weight: 900;
	margin-bottom: 0;
}

header {
	margin: 0;

	.menu-top {
		@include media-breakpoint-up(sm) {
			max-width: 102px;
			border-left: 1px solid #e3e3e3;
			padding-left: 1.5em;
		}
	}
}

.menu {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}

	.menu-inner {
		min-width: 460px;

		&::-webkit-scrollbar {
			display: none;
		}
	}
}

input,
select,
textarea {
	&.error {
		border-color: $red !important;
		color: $red !important;
	}

	&.code {
		font-weight: 900;
		text-align: center;
		letter-spacing: 5px;
	}

	&.numInput {
		height: 22px !important;
	}
}

.notyf {
	right: 20px;
	bottom: 100px;
	z-index: 999999999999999999;

	@include media-breakpoint-down(sm) {
		width: calc(100% - 40px);
	}

	.notyf__toast {
		border-radius: 0.25em;
	}
}

a {
	text-decoration: none;
	cursor: pointer;

	&:active,
	&:focus,
	&:hover {
		outline: none;
		text-decoration: none;
	}
}

button {
	cursor: pointer;
}

small,
.small {
	display: inline-block;
	line-height: 1.4;

	svg {
		width: 12px !important;
		margin-top: -4px;
		height: 12px;
	}
}

body {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	.home-show {
		display: none;
	}

	&.home {
		overflow: auto;
		max-height: 100vh;

		.home-show {
			display: block;
		}

		main {
			background: #FBFBFB;

			.container {
				height: 100%;

				.h-100 {
					margin-bottom: -75px;
				}

				h1 {
					font-size: 4em;
					line-height: 1;
					font-weight: 900;
				}

				p.small {
					font-size: 1.25em;
					display: block;
					max-width: 50%;
				}

				form {
					background: #fff;
					width: 100%;
					height: 100%;
					margin: 0;
					display: block;
					padding: 2em;
					border-radius: 0.5em;
					box-shadow: 0 0 64px rgba(0, 0, 0, 0.08);

					h2 {
						font-weight: 900;
						text-align: center;

						.icon {
							height: 64px;
							display: block;
							margin: 0 auto 5px;
						}
					}

					.help {
						margin-top: 10px;
						display: block;
					}

					button {
						width: 100%;
					}
				}
			}
		}
	}
}

.menu--main {
	a {
		color: #000;
		padding: 5px 15px;
		line-height: 1.4;
		vertical-align: middle;
		display: inline-block;

		&.btn {
			color: #fff;

			&:hover {
				color: #fff;
			}
		}

		&:hover {
			color: $dark;
			border-color: $dark;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.footer {
	p {
		margin: 0 !important;
	}

	a {
		margin-right: 15px;
		color: #000;
		line-height: 1.4;
		vertical-align: middle;
		display: inline-block;
		position: relative;

	

		&.soon {
			opacity: .25;

			&:before {
				display: block;
				position: absolute;
				content: 'soon';
				top: -6px;
				right: 0px;
				font-size: 8px;
				line-height: 1;
				background: #000; 
				padding: .1em .5em .15em;
				border-radius: .25em;
				color: #fff;
				transition: all .3s;
			}

			&.beta {
				&:before {
					content: 'beta';
				}
			}

		}

		&:hover {
			opacity: 1;

			&:before {
				background-color: $main;
				transition: all .3s;
			}

			svg {
				color: $main;
			}
		}

		svg {
			width: 16px;
			height: 18px;
			margin-top: -5px;
			margin-right: 5px;
		}
	}
}

.color--main {
	color: $main;
}

.border-bottom,
.border-top,
.border-left,
.border-right {
	border-color: #f2f2f2 !important;
}

.money,
.total {
	cursor: pointer;
	font-weight: 900;
	color: #e3e3e3;
}

.avatar,
.logo {
	background-color: #fff;
	background-size: auto 60%;
	background-position: center;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	max-width: 64px;
	max-height: 64px;
	box-shadow: 0 0 32px rgba(0, 0, 0, .08);
	border-radius: 0.25em;
	display: block;

	@include media-breakpoint-down(sm) {
		width: 50px;
		height: 50px;
	}

	&.logo {
		background-image: url("/dist/cache/logo.png");
	}

	&.avatar {
		background-color: transparent;
		border-radius: 0.25em;
		background-size: 80%;
		background-position: center;
		width: 42px;
		height: 42px;
		max-width: 42px;
		max-height: 42px;
		box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);

		&.small {
			width: 25px;
			height: 25px;
			box-shadow: none;
		}

		&.vendorLogo {
			background-size: contain;
		}
	}

	&:hover {
		box-shadow: none;
	}
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.action {
	font-weight: 900;

	&.hover {
		pointer-events: none;
		color: #e3e3e3;
	}

	&.phone {
		border-right: 1px solid #e3e3e3;
		padding-right: 0.5rem;
		margin-right: 0.5rem;
	}

	&.active {
		color: #e3e3e3;

		&.direction {
			pointer-events: none;
		}
	}
}

form {
	&.block {
		padding: 15px 30px;
	}

	.form-group {
		&.last-child {
			margin-bottom: 0 !important;
		}
	}
}

@include media-breakpoint-up(sm) {
	.maxwidth {
		max-width: 350px;
	}
}

.empty {
	background-image: url("https://cdn.dribbble.com/users/310943/screenshots/4202081/zremote-team-collaboration-illustration.png");
	width: 100%;
	background-position: center;
	background-size: contain;
	text-align: center;
	font-weight: 900;
	font-size: 3rem;
	background-repeat: no-repeat;
	color: #f2f2f2;
	display: block;
	padding: 1.5em 0;
	line-height: 2;
}

label {
	font-weight: 900;

	&.gallery {
		width: 100%;
		min-height: 80px;
		border: 1px dashed #e3e3e3;
		border-radius: 0.25em;
	}
}

.request {
	.request__call {
		svg {
			width: 32px;
			height: 32px;
		}
	}
}

main {
	@include media-breakpoint-up(md) {
		height: calc(100vh + 8px);
	}

	@include media-breakpoint-down(md) {
		padding-bottom: 30px;
	}
}

.day > .masters,
.day > .scrolling,
.plan {

	&.loading {
		position: relative;

		> div {
			filter: blur(10px);
		}

		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-height: 100vh;
			background-image: url("/dist/cache/icon/loader.gif") !important;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 32px !important;
			z-index: 3;
		}
	}
}

.plan {
	&[data-view*=full] {
		[data-view*=small] {
			display: inline-block;
		}

		[data-view*=full] {
			display: none;
		}
	}

	&[data-view*=small] {
		[data-view*=small] {
			display: none;
		}

		[data-view*=full] {
			display: inline-block !important;
		}

		.day {
			.order {
				width: 100%;

				.address,
				.description,
				.route_data,
				.user,
				hr {
					display: none !important;
				}
			}
		}
	}

	.dates {
		span {
			cursor: pointer;
			display: block;
			width: auto !important;
			height: 32px;
			line-height: 32px;
			text-align: center;
			margin: 1em 1.25em 1em 0;
			border-radius: 5em;
			padding: 0 .75em;
			font-size: 16px;
			transition: all .3s;

			&.dayname {
				position: absolute;
				color: #000;
				font-size: 8px;
				font-weight: 900;
				top: -12px;
				right: -4px;
				background-color: transparent;
				height: 10px;
				line-height: 9px;
				display: block;
			}

			&:hover {
				color: $main;
			}

			svg {
				display: inline-block;
			}

			&.is-nav-selected {
				color: #fff;
				box-shadow: 0 8px 16px rgba(0, 0, 0, .08);
				background: $main;
				transition: all .3s;

				.dayname {
					color: #fff;
					background-color: #000;
				}
			}

			&.weekend {
				&::before {
					content: '';
					display: block;
					width: calc(100% + 1.5em);
					position: absolute;
					background: #f9f9f9;
					z-index: -1;
					top: calc(-16px + 0em);
					left: calc(-16px + .25em);
					height: calc(100% + 2em);
				}
			}
		}
	}

	.day {
		h3 {
			font-weight: 900;
			margin: 0;
			padding: 0;
		}

		&.is-selected {
			h3 {
				color: $main;
			}
		}

		.masters {
			outline: none;
			min-height: calc(100vh - 172px);
			padding-bottom: 5em;
		}
	}

	.plan__day {
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		z-index: -9999;
		display: none;
		transition: left 0s !important;

		&.is-selected {
			display: block;
			visibility: visible;
			opacity: 1;
			pointer-events: all;
			z-index: 1;
		}
	}

	.master {
		order: 2;

		&:last-child {
			margin-bottom: 2em !important;
		}

		.onvacation-d-block {
			display: none;
		}

		&.vacation {
			order: 1;
			filter: grayscale(1);
			margin-bottom: .5em !important;
			box-shadow: none;

			.orders,
			.total--block {
				display: none;
			}

			.vacation-d-none {
				display: none !important;
			}

			.onvacation-d-block {
				display: inline-block;
			}
		}

		&.hover {
			.name {
				color: $main !important;
			}

			canvas {
				background-color: $main !important;
			}
		} 

		&.routed {
			&:not(.day) {
				> .row {
					&:first-child {
						canvas {
							background-color: $main;
						}

						.action {
							//color: #fff;
						}

						[data-popover="map"] {
							//color: #fff;
						}
					}
				}
			}

			.routed--blue {
				//color: #fff;
			}


			.total {
				color: $main;
			}

			.money {
				color: $green;
			}
		}

		&.ready {
			.block {
				cursor: auto;
				box-shadow: none !important;

				.address,
				.description {
					display: none;
				}
			}
		}

		.order {
			.block {
				.timing {
					display: block;
				}

				.additional {
					display: none;
				}
			}
		}

		.name {
			font-weight: 900;
			line-height: 30px;
			cursor: pointer;
			color: #000;

			canvas {
				float: left;
				width: 30px;
				height: 30px;
				margin-right: 0.25em;
				border-radius: 0.25em;
				background-color: transparent;
				background-size: 80%;
				background-repeat: no-repeat;
				background-position: center;
				transition: background-color .25s;

				&.loading {
					background-image: url("/dist/cache/icon/loader.gif") !important;
					background-position: center center !important;
					background-size: 50% auto !important;
					background-color: transparent !important;
					transition: background-color .25s;
				}
			}

			&:hover {
				color: $main;
			}
		}
	}
}

.backlog {
	@include media-breakpoint-up(sm) {
		max-height: calc(100vh - 172px);
		min-height: calc(100vh - 172px);
		overflow: auto;
	}

	.user,
	.vendor {
		cursor: pointer;

		&.active {
			.block {
				color: #fff;
				background: $main;

				a,
				svg {
					color: #fff;

					&.phone {
						border-color: $dark;
					}
				}

				hr {
					border-color: $dark;
				}
			}
		}
	}

	.orders { 
		min-height: calc(100vh - 165px);
		background-size: 75% auto;
		background-repeat: no-repeat;
		background-position: center;

		&:empty {
			background-size: 75% auto;
			background-image: url("/dist/cache/gif/yoga-illustration.gif");
			border: 1px solid #f9f9f9;
			border-radius: .25em;
			min-height: calc(100vh - 195px);
			margin: 0;
		}

		@include media-breakpoint-up(sm) {
			margin-bottom: 5em;
		}

		@include media-breakpoint-down(sm) {
			min-width: 100%;

			.order {
				width: auto !important;

				.block {
					@include media-breakpoint-down(sm) {
						width: 80vw !important;
						margin-right: 1em;
					}
				}
			}
		}
	}

	.route_data {
		display: none;
	}
}

.orders {
	position: relative;

	&:empty {
		background: url("/dist/cache/icon/route.svg");
		background-size: 30% auto;
		background-repeat: no-repeat;
		background-position: center;
	}

	.order {
		width: 100%;

		&.hover {
			.block {
				background-color: $main !important;
				color: #fff;

				> * {
					transition: all 0s;
				}

				.route_data {
					color: #000;
				}

				&::before {
					background-color: $main;
					color: #fff;
				}

				.description {
					background: rgba(0, 0, 0, .1);
				}

				.address,
				.badge.category,
				.company {
					color: #fff !important;
				}

				hr {
					opacity: 0.1;
					border-color: #e3e3e3;
				}

				a,
				input {
					border-color: rgba(255, 255, 255, .1) !important;
					color: #fff !important;
				}
			}
		}
	}
}



.block {
	padding: 10px 0;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	border-radius: 0.25em;
	border: 1px solid #f9f9f9;
	background-color: #f9f9f9;
	position: relative;

	.route_data {
		font-weight: 900;
		position: absolute;
		bottom: calc(50% - 15px);
		transform: rotate(-90deg) translateX(50%);
		font-size: 12px;
		left: calc(0% - 44px);
		width: 50px;
		text-align: center;
		background: #fff;

		.distance {
			vertical-align: inherit;
		}

		.duration {
			display: none;
		}
	}

	input {
		vertical-align: middle;
	}

	&.ready {
		box-shadow: none !important;
	}

	&.drag {
		cursor: grab;
		cursor: pointer;
		cursor: hand;
		cursor: -webkit-grab;
		cursor: grab;

		&:hover {
			cursor: pointer;
			cursor: hand;
			cursor: -webkit-grab;
			cursor: grab;
			box-shadow: none;
		}
	}

	.user {
		.name {
			font-weight: 100;
		}
	}

	hr {
		border-color: #f2f2f2;
		margin: 0.5rem -15px;
	}

	.address {
		display: block;
		line-height: 1.4;

		svg {
			width: 14px;
			height: 14px;
			margin-top: -4px;
			margin-right: .25em;
		}
	}

	.timing {
		display: none;
	}

	span {
		&.id {
			color: #c3c3c3;
		}
	}
}

.map {
	position: absolute;
	border: 0;
	box-shadow: none;
	left: 0;
	top: 0;
	height: 100%;
	width: 65vw;
	margin: 0;
	padding: 0;
	z-index: 1;
}

.grid {
	position: relative;

	&:empty {
		height: 30vh;
		min-height: 350px;
	}
}

.action--report {
	line-height: 9px;
	margin-top: -2px;
	background: $main;

	&:hover {
		color: #fff;
		background: $dark;
	}
}

.status {
	color: #fff !important;
	font-weight: 100;

	&:hover {
		color: #000 !important;
	}
}

.badge, .status {
	&.badge {
		display: inline-block;
		text-transform: uppercase;
		border-radius: .25em;
		font-weight: 100;
		font-size: 12px;
		height: 15px;
		line-height: 15px;
		padding: 0 .5em;
		background-repeat: no-repeat;
		background-position: center;
		transition: all .3s;

		&.category {
			font-weight: 900;
		}

		&.loading {
			color: rgba(0,0,0,0) !important;
			filter: grayscale(1);
			background-image: url(/dist/cache/loader.svg);
			background-size: 10px;
		}
	}

	&.history, &.status {
		color: #fff;

		&.history {
			font-size: 10px;
			font-weight: 900;
			cursor: pointer;
		}

		&.new {
			background-color: $green;
			border-color: $green !important;
		}
	
		&.changed {
			background-color: $yellow;
			border-color: $yellow !important;
		}
	
		&.waiting {
			background-color: $orange;
			border-color: $orange !important;
		}
	
		&.ready {
			background-color: $main;
			border-color: $main !important;
		}
	
		&.working {
			background-color: $dark;
			border-color: $dark !important;
		}
	
		&.done {
			background-color: #000;
			border-color: #000 !important;
		}
	
		&.cancel {
			background-color: $red;
			border-color: $red !important;
		}
	}
}

.timeline {
	&>div {
		&:first-child {
			margin-top: 0 !important;
		}
	}

	.block {
		box-shadow: 0 4px 16px rgba(0, 0, 0, .05);

		&:hover {
			box-shadow: 0 8px 32px rgba(0, 0, 0, .08) !important;
		}
	}

	.date {
		color: #e3e3e3;
		font-weight: 900;
		position: relative;
		z-index: 99;
		font-size: 1.75rem;

		svg {
			margin-bottom: 0;
		}
	}

	&:empty {
		background: url("/dist/cache/gif/yoga-illustration.gif");
		background-size: 35%;
		background-repeat: no-repeat;
		background-position: center;
	}
}

.admin,
.master {
	.drag {
		cursor: pointer;
		position: absolute;
		z-index: 1;
		touch-action: pan-y !important;

		.actions {
			&.bottom-right {
				display: block;
			}
		}

		.action--report {
			display: none;
		}
	}
}

.admin {
	.drag {
		&.draggable {
			cursor: pointer;
			cursor: hand;
			cursor: -webkit-grab;
			cursor: grab;
			touch-action: pan-x !important;

			.block {
				transition: all .3s;

				* {
					transition: all 0s;
				}

				&::before, 
				.route_data,
				.description,
				.action, hr  {
					transition: all .3s;
				}

				&:hover {
					//color: #fff;
					border-color: #f2f2f2;
					background-color: #f2f2f2;
					transition: all .3s; 

					* {
						transition: all 0s;
					}

					&::before {
						transition: all .3s;
						background-color: $main;
						color: #fff;
					}

					a, input {
						//color: #fff;
					}

					.action, hr {
						border-color: #e3e3e3;
						transition: all .3s; 
					}

					.route_data {
						color: #000;
						transition: all .3s;
					}

					.description {
						background-color: #e3e3e3;
						transition: all .3s;
					}
				}
			}
		}
	}
}

.muuri-item-dragging {
	cursor: move !important;
	z-index: 99;

	&.draggable {
		box-shadow: none !important;

		.block {
			box-shadow: 0 0 50px rgba(0, 0, 0, .1);
		}
	}

	.route_data {
		display: none;
	}
}

.muuri-item-releasing {
	z-index: 100;

	&.draggable {
		box-shadow: none !important;
	}

	.route_data {
		display: none;
	}
}

.muuri-item-hidden {
	z-index: 0;
}

.subpage {
	position: absolute;
	width: 100vw;
	height: calc(100vh - 100px);
	top: 100px;
	left: 0;
	z-index: 1;
	display: none;

	.container {
		background: #fff;
		box-shadow: 0 -16px 64px rgba(0, 0, 0, .08);
		border-radius: 0.5em 0.5em 0 0;
		width: 100%;
		height: 100%;
	}
}


.list {
	min-width: 300px;
	width: 100%;
	height: auto;
	background-position: center;
	background-repeat: no-repeat;


	&.loading {
		max-height: 300px;
		overflow: hidden;
		background-image: url("/dist/cache/icon/loader.gif") !important;
		background-size: 32px !important;

		@include media-breakpoint-down(sm) {
			max-height: calc(100vh - 250px);
		}
	}

	&:empty {
		background-size: 50% auto;
		min-height: 300px;

		&.h-100 {
			min-height: calc(100vh - 186px);
		}

		&.vacations {
			background-image: url("/dist/cache/icon/vacations.svg");
		}

		&.masters {
			background-image: url("/dist/cache/icon/masters.svg");
		}

		&.vendors {
			background-image: url("/dist/cache/icon/vendors.svg");
		}

		&.managers {
			background-image: url("/dist/cache/icon/managers.svg");
		}

		&.search {
			background-image: url("/dist/cache/icon/search.svg");
		}

		&.invoices {
			background-image: url("/dist/cache/icon/invoices.svg");
		}

		&.documents {
			background-image: url("/dist/cache/icon/documents.svg");
		}

		&.soon {
			background-image: url("/dist/cache/icon/soon.svg");
		}
	}

	.invoice,
	.vacation {
		> ul {
			border: 1px solid #f9f9f9;
			background-color: #f9f9f9;
			border-radius: .25em;
	
			&:hover {
				background-color: #f2f2f2;
			}

			ul {
				background-color: #f9f9f9
			}
		}
	}
}

[data-invoice-handler] {
	&[data-status="invoiced"],
	&[data-status="1"] {
		[data-export] {
			> a.next {
				display: none;
			}
		}
	}

	&[data-status="payed"],
	&[data-status="2"],
	&[data-status="exported"],
	&[data-status="4"] {
		[data-pay], [data-cancel] {
			> a.next { 
				display: none;
			}
		} 

		.d-none-disabled {
			display: none !important;
		}

		input, select, textarea {
			pointer-events: none !important;
			-webkit-appearance: none;
			border: 0;
			background: transparent;    
			padding: 0;
			height: auto;

			&:hover {
				box-shadow: none;
				background: transparent;
			}
		}

		[data-export] {
			> a.next {
				display: flex;
			}
		}
	}

	&[data-status="canceled"],
	&[data-status="3"] {
		[data-pay], [data-cancel] {
			> a.next { 
				display: none;
			}
		}

		.d-none-disabled {
			display: none !important;
		}

		input, select, textarea {
			pointer-events: none !important;
			-webkit-appearance: none;
			border: 0;
			background: transparent;  
			padding: 0;
			height: auto;

			&:hover {
				box-shadow: none;
				background: transparent;
			}
		}
	}
}

.invoice {
	.tag {
		&.status {
			font-size: 10px;
			vertical-align: middle;
		}
	}

	&[data-status="invoiced"] {
		.tag.status {
			padding: 0 .5em;
			background-color: $green;
			font-weight: 900;
			color: #fff !important;

			&:before {
				display: inline-block;
				content: 'INVOICED';
			}
		}
	}

	&[data-status="payed"] {
		.tag.status {
			padding: 0 .5em;
			background-color: #000;
			font-weight: 900;
			color: #fff !important;

			&:before {
				display: inline-block;
				content: 'PAYED';
			}
		}
	}

	&[data-status="canceled"] {
		.tag.status {
			padding: 0 .5em;
			background-color: $red;
			font-weight: 900;
			color: #fff !important;

			&:before {
				display: inline-block;
				content: 'CANCELED';
			}
		}
	}

	&[data-status="exported"] {
		.tag.status {
			padding: 0 .5em;
			background-color: #000;
			font-weight: 900;
			color: #fff !important;

			&:before {
				display: inline-block;
				content: 'PAYED';
			}
		}

		&.vendor { 
			.tag.status {
				background-color: $dark;
	
				&:before {
					content: 'EXPORTED';
				}
			}
		}
	}

	

	> ul {
		> li {
			> ul {
				> li.header {
					> .title {
						visibility: hidden;

						&::before {
							display: inline-block;
							content: 'Invoice';
							visibility: visible;
						}
					}
				}
			}
		}
	}
}

.vacation {
	> ul {
		> li {
			> ul {
				> li.header {
					> .title {
						visibility: hidden;

						&::before {
							display: inline-block;
							content: 'Vacation';
							visibility: visible;
						}
					}
				}
			}
		}
	}
}

h5 {
	font-weight: 900;
}

span {
	&.time {
		font-size: 12px;
	}
}

.map--button {
	position: absolute;
	z-index: 2;
	bottom: 6em;
	left: 1.5em;
	text-align: center;
	margin: 0 auto;
	width: calc(100% - 3em);
}

.strong {
	font-weight: 900 !important;
}

.file-handler {
	min-height: 150px;

	&:empty {
		background-image: url('/dist/cache/icon/upload-cloud.svg');
		background-size: auto 50%;
		background-position: center;
		background-repeat: no-repeat;
		opacity: .1;
	}
}


input.search {
	border-radius: .25em .25em 0 0 !important;
	border-bottom: 1px solid #f2f2f2;
	padding: .5em 1em;

	@include media-breakpoint-down(sm) {
		border-radius: 0 !important;
	}
}

.grayscale {
	filter: grayscale(1);
}

.flatpickr-calendar {
	box-shadow: 0 0 64px rgba(0, 0, 0, 0.08);

	@include media-breakpoint-down(sm) {
		left: 0 !important;
		top: auto !important;
		bottom: 0px !important;
		right: 0 !important;
		width: 100vw;
		position: fixed;
		padding-bottom: 50px;
		border-radius: .5em .5em 0 0;

		&::after,
		&::before {
			display: none;
		}

		.flatpickr-days {
			width: 100%;

			.dayContainer {
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.flatpickr-months {
		.flatpickr-month {
			padding: 5px 0;
			height: 40px !important;

			.flatpickr-current-month {
				padding: 0 !important;
				height: 40px !important;
				line-height: 40px !important;
			}
		}

		.flatpickr-next-month,
		.flatpickr-prev-month {
			height: 50px !important;
			line-height: 50px !important;
			padding: 0 1em !important;
		}
	}


	.flatpickr-day {
		margin: 0 !important;
		border: 0 !important;

		&:hover {
			border-radius: .25em;
		}

		&.selected,
		&.startRange,
		&.endRange {
			background: $main !important;
		}

		&.startRange {
			border-radius: .25em 0 0 .25em !important;
		}

		&.endRange {
			border-radius: 0 .25em .25em 0 !important;
		}
	}
}


.light {
	font-weight: 300;
}

p {
	line-height: 1.4;
	word-break: break-word;
}

.logoUploader {
	border-radius: .5em;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	background-image: url(/dist/cache/icon/upload_grey.svg);
	background-size: 30% auto;
	background-position: center;
	background-repeat: no-repeat;
	transition: all .3s;


	&:hover {
		background-color: transparent;
		transition: all .3s;
	}
}

.beta {
	position: relative;
	width: auto;
	display: inline-block;

	&::before {
		content: 'beta';
		position: absolute;
		right: 0;
		top: 0;
		color: $main;
		font-size: 10px;
	}
}

.border-lg-0 {
	@include media-breakpoint-up(lg) {
		border: 0 !important;
	}
}

.uppercase {
	text-transform: uppercase;
}

ul {
	padding: 0; 
}
 
[data-loader] {
	display: block;
	width: 100%;
	background-image: url("/dist/cache/icon/loader.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px;
}

.muuri-item-placeholder {
	background-color: #000;
	border: 5px solid #000;
}



.green {
	color: $green;

	> span {
		color: $green;
	}
}

.blue {
	color: $main;

	&:hover {
		color: $dark;
	}

	* {
		color: $main;
		
		&:hover {
			color: $dark;
		}
	}
}

.red {
	color: $red;

	&:hover {
		color: $danger;
	}
}

.yellow {
	color: $yellow;

	&:hover {
		color: $warning;
	}
}

.tag {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: .25em;
	font-size: 12px;
	height: 15px;
	line-height: 15px;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .3s;

	&.upcoming { 
		padding: 0 .5em;
		background-color: $green;
		color: #fff !important;
		font-size: 10px;
		vertical-align: middle;
	}
}