body.master {
	.map {
		border-radius: 0;
	}

	.day {
		.orders {
			margin-left: 30px;
			width: calc(100% - 30px);

			&:empty {
				margin: 0;
				width: 100%;
			}
		}

		&.routed {
			.order {
				transition: all 0.3s;

				.position {
					display: block;
				}
			}
		}

		.scrolling {
			@include media-breakpoint-up(sm) {
				max-height: calc(100vh - 220px);
				min-height: calc(100vh - 220px);
				overflow: auto;
			}

			.orders {
				&:empty {
					min-height: calc(100vh - 230px);
				}

				.order {
					.description {
						display: block;
					}

					.action.done {
						display: none;
					}

					.actions {
						display: none;

						.cancel,
						.ready,
						.waiting,
						.working {
							display: none;
						}
					}

					input {
						&.time {
							text-align: center !important;
							display: inline-block;
							max-width: 75px;
							overflow: hidden;
							white-space: nowrap; 
							text-overflow: ellipsis;
							-webkit-appearance: unset;
							pointer-events: none;
						}
					}

					&[data-status="waiting"] {
						.actions {
							display: block;

							.waiting {
								display: block;
							}
						}

						input {
							&.time {
								background: $main;
								padding: 0 .25em;
								pointer-events: all;
								color: #fff;
								transition: all 0.3s;

								&:hover {
									background: $dark;
									transition: all 0.3s;
								}
							}
						}
					}

					&[data-status="ready"] {
						.actions {
							display: block;

							.ready {
								display: block;
							}
						}
					}

					&[data-status="working"] {
						.actions {
							display: block;

							.cancel,
							.working {
								display: block;
							}
						}
					}

					&[data-status="done"] {
						.action.done,
						.actions.done {
							display: inline-block;
						}
					}
				}
			}
		}
	}
}