 .order {
 	max-width: 100%;

 	.description {
 		padding: .75em 1em;
 		background: #f2f2f2;
	 }
	 
	 &[data-status="done"] {
		[data-more] {
			display: none !important;
		} 

		[data-report] {
			display: inline-block !important;
		}
	 }
 }

 .backlog,
 .master {
 	.orders {
 		transition: height 0.3s;
 	}
 }

 .day {
 	.masters {
 		.master {
 			>.row {
 				&:first-child {
 					border-radius: .25em;
 					border: 1px solid #f9f9f9;
 				}
 			}
 		}
 	}

 	.orders {
 		position: relative;
 		width: 100%;

 		&:empty {
 			border-radius: .25em;
 			border: 1px solid #f9f9f9;
 		}
 	}
 }

 @include media-breakpoint-down(sm) {
 	header {
 		padding: 0;
 		margin: 0;
 	}

 	h2 {
 		margin-bottom: -10px;
 	}

 	.dates {
 		margin: 0 -15px;
 		padding: 0 15px;
 	}

 	.backlog {
 		>.col-12 {
 			overflow-y: hidden;
 			overflow-x: scroll;
 			-webkit-overflow-scrolling: touch;

 			.orders {
 				display: block;
 				height: 180px;
 				min-height: auto;
 				padding: 0 !important;
 				margin: 0 !important;
 				border: 0 !important;

 				.order {
 					margin-top: 10px;
 				}
 			}
 		}
 	}
 }

 .backlog__user {
 	min-height: 50vh;

 	&:empty {
 		background: url("/dist/cache/gif/yoga-illustration.gif");
 		background-size: auto 40%;
 		background-repeat: no-repeat;
 		background-position: center;
 	}
 }


 .day {
 	&.master,
 	.master {
 		counter-reset: section;

 		.order {
 			counter-increment: section;

 			.block {
				position: relative;

 				&:before {
 					content: counter(section);
 					position: absolute;
 					color: #000;
 					border: 1px solid #f9f9f9;
 					background-color: #f9f9f9;
 					width: 24px;
 					height: 24px;
 					line-height: 22px;
 					font-weight: 900;
 					font-size: 10px;
 					text-align: center;
 					left: -30px;
 					bottom: 0px;
 					border-radius: 0.25em;
 				}

 				&:after {
 					content: '';
 					position: absolute;
 					display: block;
 					z-index: -1;
 					height: 100%;
 					width: 1px;
 					border-left: 1px solid #f9f9f9;
 					left: -18px;
 					top: -10px;
 				}
 			}

 			input {
 				&.time {
 					outline: none;
 					border: none;
 					font-weight: 900;
 					max-width: 66px;
 					padding: 0;
 					text-align: center;
 					background: transparent;
 					margin: 0;

 					&::-webkit-clear-button {
 						display: none;
 					}

 					&::-ms-clear {
 						display: none;
 					}
 				}
 			}
 		}
 	}
 }