<form class="p-4" data-invoice-handler="{{id}}" data-status="{{status}}">
    <div class="form-group row">
        <div class="col-12">
            <label for="service">Service</label>
            <select class="form-control" name="service" id="service" data-value="{{service}}" data-type="price" data-category="1" data-user="{{master}}"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="product">Product</label>
        <input type="text" class="form-control" name="product" id="product" value="{{report.product}}">
    </div>

    <div class="form-group row">
        <div class="col">
            <label for="rate_condition">Rate condition</label>
            <select class="form-control" name="rate_condition" id="rate_condition" data-value="{{report.rate_condition}}">
                <option>
                    1
                </option>
                <option>
                    2
                </option>
                <option>
                    3
                </option>
                <option>
                    4
                </option>
                <option>
                    5
                </option>
            </select>
        </div>
        <div class="col pl-0">
            <label for="damage_code">Code</label>
            <select class="form-control" name="damage_code" id="damage_code" data-value="{{report.damage_code}}">
                <option selected>
                    MD
                </option>
                <option>
                    DD
                </option>
                <option>
                    CF
                </option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-12">
            <label for="damage_source">Source of damage</label>
            <input type="text" class="form-control" name="damage_source" id="damage_source" value="{{report.damage_source}}">
        </div>
    </div>

    <div class="form-group row"> 
        <div class="col-12">
            <label for="work_performed">Work performed</label>
            <input type="text" class="form-control" name="work_performed" id="work_performed" value="{{report.work_performed}}">
        </div>
    </div>
    
    <div class="form-group row">
            <div class="col-12">
                <label for="part_order">Part order</label>
                <input type="text" class="form-control" name="part_order" id="part_order" value="{{report.part_order}}">
            </div>
        </div>


        <div class="form-group row">
            <div class="col">
                <label for="comment">Comment</label>
                <textarea class="form-control comment" name="comment" id="comment" style="min-height: 81px">{{report.comment}}</textarea>
            </div>
        </div>

        <div class="row form-group mb-0">
            <div class="col-12">
                <div class="row d-none-disabled">
                    <div class="col animate">
                        <label>Photo</label>
                    </div>
                    <div class="col my-auto animate text-right">
                        <label for="cancel_file_{{id}}" class="my-auto blue strong small">
                            <i data-feather="paperclip"></i>
                            Select files
                        </label>
                    </div>
                </div>

                <p class="d-none-disabled">
                    Upload photos of product, label, source of damage and work perfomed
                </p>
                <div class="gallery"></div>
                <input type="file" name="files[]" id="report_file_{{id}}" style="display: none" multiple />
                <input type="hidden" name="request[]" value="{{id}}" />
                <input type="hidden" name="type[]" value="report" />
            </div>
        </div>

        <div class="form-group row mt-3 d-none-disabled">
            <div class="col">
                <button class="btn button background w-100" disabled>
                        <i data-feather="save"></i> Save report
                    </button>
            </div>
        </div>
</form>
    