<div class="container-fluid">
	<div class="row header mx-0">
		<a href="#0" class="avatar col my-3 my-lg-auto mr-lg-0 webview-order-2 d-block d-md-none"></a>
	
		<div class="col my-auto px-0 pt-webview webview-order-1 d-lg-flex d-flex-webview">
			<h2 class="animate my-lg-2 mb-0 beta">Planner</h2>
		</div>
	
		<div class="col my-auto text-lg-right menu pr-4 d-none-webview d-lg-none">
			<nav class="menu-inner py-2 pl-2 pl-lg-0 pr-0">
				<a href="#0" class="strong animate" data-popover="master/popover/vacations" data-placement="bottom-left">
					<i data-feather="coffee" class="mr-1"></i>
					Vacations
				</a>
				<a href="#0" class="strong animate ml-3 ml-lg-4" data-popover="master/popover/invoices" data-placement="bottom-left">
					<i data-feather="dollar-sign" class="mr-1"></i>
					Invoices
				</a>
			</nav>
		</div>
	
		<nav class="col-3 col-lg my-auto d-none-webview text-right border-left border-lg-0" style="max-width: 200px;">
			<a href="#0" class="action animate pl-0" data-popover="other/popover/search">
				<i data-feather="search"></i>
			</a>
			<a href="#0" class="col animate pr-0 d-lg-none" data-popover="other/popover/more">
				<i data-feather="more-horizontal"></i> 
			</a>
		</nav>
	</div>

	<div class="plan pt-2 pt-md-0">
		<div class="row border-top border-bottom">
			<div class="col-12 ml-lg-5 pl-lg-4">
				<div class="plan__days--dates dates flickity"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-lg-6 px-0">
				<div class="days plan__days flickity"></div>
			</div>

			<div class="col-12 col-lg-6 xs-display-none">
				<div class="map ml-3 border-left" id="map"></div>
			</div>
		</div>
	</div>
</div>




<nav class="webview-menu row mx-lg-0 d-none d-flex-webview d-lg-block">
	<a href="#0" class="avatar col mx-auto my-2 d-none d-md-block"></a>

	<a href="#0" class="col animate webview-home active d-inline d-lg-none">
		<i data-feather="calendar"></i>
		<small class="d-block">Planner</small>
	</a>

	<a href="#0" class="col animate" 
		data-tootik="Vacations"
		data-tootik-conf="right" 
		data-popover="master/popover/vacations" 
		data-type="webview"
	>
		<i data-feather="coffee"></i>
		<small class="d-block-webview">Vacations</small>
	</a> 

	<a href="#0" class="col animate" 
		data-tootik="Invoices"
		data-tootik-conf="right" 
		data-popover="master/popover/invoices" 
		data-type="webview"
	>
		<i data-feather="dollar-sign"></i>
		<small class="d-block-webview">Invoices</small>
	</a>

	<a href="#0" class="col animate"
		data-tootik="Settings"
		data-tootik-conf="right" 
		data-popover="other/popover/more" 
		data-type="webview"
	>
		<i data-feather="settings"></i>
		<small class="d-block-webview">Settings</small>
	</a>
</nav>