<div class="col-12 plan__day day pl-md-0">
	<div class="row mt-2 mb-2 mb-md-0">
		<div class="col my-auto">
			<h3>{{name}}</h3>
		</div>

		<div class="col my-auto text-right">
			<a href="#0" data-view="small">
				<i data-feather="list"></i>
			</a>
			<a href="#0" data-view="full" style="display: none;">
				<i data-feather="grid"></i>
			</a>
		</div>
	</div>

	<div class="masters row scrolling pt-md-2"></div>
</div>
