<form class="p-4">
    <div class="row form-group">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <label>Photo</label>
                </div>
                <div class="col my-auto text-right">
                    <label for="cancel_file_{{id}}" class="my-auto blue strong small">
                        <i data-feather="paperclip"></i>
                        Select files
                    </label>
                </div>
            </div>

            <p>Upload images of client house and leave a comment, why you cancel it.</p>

            <div class="gallery"></div>
            <input type="file" name="files[]" id="cancel_file_{{id}}" style="display: none" multiple />
            <input type="hidden" name="request[]" value="{{id}}" />
            <input type="hidden" name="type[]" value="cancel" />
        </div>
    </div>

    <div class="row form-group">
        <div class="col-12">
            <label for="comment">Comment</label>
            <textarea class="form-control comment" name="comment" id="comment" style="min-height: 83px;"></textarea>
        </div>
    </div>

    <div class="row form-group mb-0">
        <div class="col-12">
            <button href="#0" class="cancel background button large btn w-100" disabled>
                <i data-feather="x-circle"></i>
                Cancel
            </button>
        </div>
    </div>
</form>
    