<div class="order {{drag}} order__{{id}} {{status}} {{draggable}} mb-2" data-status="{{status}}" data-position="{{position}}">
	<div class="block p-0">
		<span class="route_data">
			<span class="distance">{{distance.text}}</span>
			<span class="duration"></span>
		</span>

		<div class="row my-2 mx-0">
			<div class="col pr-0 my-auto">
				<div class="row mx-0">
					<span class="badge id px-0">#{{id}}</span>
					<span class="badge category">{{category}}</span>
					<span class="badge history {{status}}">{{status}}</span>
				</div>
			</div>
			<div class="col-7 pl-0 timing my-auto">
				<div class="row mx-0 float-right small">
					<input type="text" class="time from" name="time_from" value="{{start}}" readonly>
					<span class="px-0">-</span>
					<input type="text" class="time to" name="time_to" value="{{end}}" readonly>
				</div>
			</div>
			<div class="col pl-0 additional text-right company text-truncate small uppercase">
				<a href="#0"
					data-popover="admin/popover/vendors"
					data-vendor="{{vendor.id}}"
					data-type="webview"
					data-placement="bottom-right"
				>
					{{vendor.company_name}}
				</a>
			</div>
		</div>

		{{#if subcomment}}
		<div class="row mx-0 description d-none d-md-block">
			<div class="col-12 px-0">
				<p class="m-0">
					{{subcomment}}
				</p>
			</div>
		</div>
		{{/if}}

		<div class="row mx-0 my-2 address">
			<div class="col-12">
				<i data-feather="map-pin"></i>
				{{address}}
			</div>
		</div>
		

		<div class="row mx-0">
			<div class="col-12">
				<hr class="mt-0" />
			</div>
		</div>

		<div class="row mx-0 user mb-2">
			<div class="col text-truncate my-auto">
				<a href="tel:+{{phone}}" class="action phone" data-placement="top-right" data-tootik="+{{phone}}" data-tootik-conf="right">
					<i data-feather="phone"></i>
				</a>
				{{name}}
			</div>
			<nav class="col-4 pl-0 actions bottom-right text-right my-auto">
				<a href="#0" class="strong d-block action menu" data-more data-popover="admin/me/order__menu" data-placement="top-left" data-id="{{id}}">
					<i data-feather="more-horizontal"></i>
				</a> 
				<a href="#0" class="strong d-none small btn button" data-report data-id="{{id}}" data-popover="request/report" data-placement="bottom-left">
					Report
				</a>
			</nav>
		</div>
	</div>
</div>
