<div class="container-fluid">
	<div class="row header mx-0">
		<a href="#0" class="avatar col my-3 my-lg-auto mr-lg-0 webview-order-2 d-block d-md-none"></a>
	
		<div class="col my-auto px-0 pt-webview webview-order-1 d-lg-flex d-flex-webview">
			<h2 class="animate my-lg-2 mb-0 beta">Planner</h2>
		</div>
	
		<div class="col my-auto text-lg-right menu pr-4 d-none-webview d-lg-none">
			<nav class="menu-inner py-2 pl-2 pl-lg-0 pr-0">
				<a href="#0" class="strong animate" data-popover="admin/popover/masters" data-placement="bottom-left">
					<i data-feather="compass" class="mr-1"></i>
					Masters
				</a>
				<a href="#0" class="strong animate ml-3 ml-lg-4" data-popover="admin/popover/vendors" data-placement="bottom-left">
					<i data-feather="briefcase" class="mr-1"></i>
					Vendors
				</a>
				<a href="#0" class="strong animate ml-3 ml-lg-4" data-popover="admin/popover/managers" data-placement="bottom-left">
					<i data-feather="monitor" class="mr-1"></i>
					Managers
				</a>
			</nav>
		</div>
	
		<nav class="col my-auto d-none-webview text-right border-left border-lg-0" style="max-width: 200px;">
			<a href="#0" class="action animate pl-0" data-popover="other/popover/search">
				<i data-feather="search"></i>
			</a>
			<a href="#0" class="col animate pr-0 d-lg-none" data-popover="other/popover/more">
				<i data-feather="more-horizontal"></i> 
			</a>
		</nav>
	</div>
	
	<div class="plan" data-view="full">
		<div class="row">
			<div class="col-lg-4 col-xl-3 d-none d-lg-block border-top border-bottom"></div>
			<div class="col-12 pl-lg-0 col-lg-8 col-xl-9 border-top border-bottom order-2 order-md-1">
				<div class="dates flickity"></div>
			</div>
			
			<div class="col-lg-4 col-xl-3 left order-1 order-md-2" style="max-width: 420px;min-width: 320px;">
				<div class="row animate d-none d-md-block">
					<div class="col-12 mt-2 pt-1 mb-1"> 
						<a href="#0" class="strong" data-popover="admin/create/request">
							<i data-feather="chevron-down" class="mr-1"></i>
							New order
						</a>
					</div>
				</div>
	
				<div class="row pt-md-2 backlog">
					<div class="col-12">
						<div class="orders" data-type="backlog"><div class="drag order d-md-none desktop-remove" data-position="0">
								<div class="block row border-0 text-center webview-create-icon" style="width: 150px;height: 150px;max-width: 150px;">
									<a href="#0" class="animate col my-auto" data-popover="admin/create/request">
										<i data-feather="plus"></i>
									</a>
								</div>
						</div></div>
					</div>
				</div>
			</div>
	
			<div class="col right order-3">
				<div class="row h-100">
					<div class="col-12 col-lg-6 col-xl-4 px-0" style="max-width: 420px;min-width: 320px;">
						<div class="days plan__days flickity"></div>
					</div>
					<div class="col-12 col-lg-6 xs-display-none h-100 border-left">
						<div class="map" id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<nav class="webview-menu row mx-lg-0 d-none d-flex-webview d-lg-block">
	<a href="#0" class="avatar col mx-auto my-2 d-none-webview"></a>

	<a href="#0" class="col animate webview-home active d-inline d-lg-none">
		<i data-feather="calendar"></i>
		<small class="d-block">Planner</small>
	</a>

	<a href="#0" class="col animate" 
		data-tootik="Masters"
		data-tootik-conf="right" 
		data-popover="admin/popover/masters" 
		data-type="webview"
	>
		<i data-feather="compass"></i>
		<small class="d-block-webview">Masters</small>
	</a> 

	<a href="#0" class="col animate" 
		data-tootik="Vendors"
		data-tootik-conf="right" 
		data-popover="admin/popover/vendors" 
		data-type="webview"
	>
		<i data-feather="briefcase"></i>
		<small class="d-block-webview">Vendors</small>
	</a>

	<a href="#0" class="col animate" 
		data-tootik="Managers"
		data-tootik-conf="right" 
		data-popover="admin/popover/managers" 
		data-type="webview"
	>
		<i data-feather="monitor"></i>
		<small class="d-block-webview">Managers</small>
	</a>

	<a href="#0" class="col animate"
		data-tootik="Settings"
		data-tootik-conf="right" 
		data-popover="other/popover/more" 
		data-type="webview"
	>
		<i data-feather="settings"></i>
		<small class="d-block-webview">Settings</small>
	</a>
</nav>