<div class="order drag order__{{id}} mb-2 {{status}}"
	data-id="{{id}}"
	data-status={{status}}
	data-date="{{date}}"
	data-position="{{position}}"
	data-category="{{category}}"
	data-master="{{master}}"
	data-vendor="{{vendor.id}}"
	data-user="{{user}}"
	data-address="{{address}}"
>
	<div class="block">
		<span class="route_data">
			<span class="distance"></span>
			<span class="duration"></span>
		</span>

		<div class="row mb-2 mx-0">
			<div class="col pr-0 my-auto">
				<div class="row mx-0">
					<span class="badge id px-0">#{{id}}</span>
					<span class="badge category">{{category}}</span>
					<span class="badge history {{status}}">{{status}}</span>
				</div>
			</div>
			<div class="col-7 pl-0 timing my-auto">
				<div class="row mx-0 float-right small">
					<input type="text" class="input time from" name="time_from" value="{{start}}" readonly>
					<span class="px-0">-</span>
					<input type="text" class="time to" name="time_to" value="{{end}}" readonly>
				</div>
			</div>
		</div>


		{{#if comment}}
			<div class="col-12 mt-2 description">
				<p class="my-0">{{comment}}</p>
			</div>
		{{/if}}

		<div class="col-12 my-2 address">
			<i data-feather="map-pin"></i> {{address}}
		</div>
 
		<div class="row mx-0">
			<div class="col-12">
				<hr class="mt-0" />
			</div>
		</div>

		<div class="col-12">
			<div class="row user">
				<div class="col text-truncate my-auto">
					<a href="tel:+{{phone}}" class="action phone"  data-tootik="+{{phone}}" data-tootik-conf="right">
						<i data-feather="phone"></i>
					</a>
					{{name}}
				</div>
				<nav class="col-5 actions done bottom-right text-right">
					<a href="#0" class="btn button action done report my-auto small" data-id="{{id}}" data-popover="request/report" data-placement="bottom-left">Report</a>
				</nav>
			</div>
		</div>
 
		<div class="col-12 actions">
			<div class="row"> 
				<div class="col-12">
					<hr  />
				</div>
			</div>
 
			<div class="row">
				<div class="col waiting">
					<a href="#0" class="btn button background action waiting w-100">Confirm time</a>
				</div>
				<div class="col ready">
					<div class="row">
						<div class="col-12 mb-2">
							<strong>Arrive to client in:</strong>
						</div>
						<div class="col-4 pr-0">
							<a href="#0" class="btn button action ready background" data-time="15">15 min</a>
						</div>
						<div class="col-4 px-2">
							<a href="#0" class="btn button action ready background" data-time="30">30 min</a>
						</div>
						<div class="col-4 pl-0">
							<a href="#0" class="btn button action ready background" data-time="45">45 min</a>
						</div>
					</div>
				</div>
				<div class="col working pr-2">
					<a href="#0" class="btn button background action working w-100" data-id="{{id}}" data-popover="request/report" data-placement="bottom-right">
						Report
					</a>
				</div>
				<div class="col-5 pl-0 cancel">
					<a href="#0" class="btn button action cancel w-100" data-id="{{id}}"  data-popover="request/cancel" data-placement="bottom-left">
						Cancel
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
