<li data-manager-handler="{{id}}">
      <a href="#0">
         <canvas class="avatar float-left mr-2 small" style="background-image: url(/dist/cache/avatar/{{avatar}}.svg)"></canvas>
         <span data-manager-{{id}}-fname>{{fname}}</span>
         <span data-manager-{{id}}-lname>{{lname}}</span>
      </a>
   
      <ul class="manager-{{id}}">
         <li>
            <a href="#0">
               <i data-feather="edit-3" class="mr-2"></i>
               Edit profile
            </a>
            
            <ul>
               <li>
                  <form class="p-4 change form" data-manager="{{id}}">
                     <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" class="form-control" name="phone" id="phone" value="{{phone}}">
                     </div>
                     <div class="form-group">
                        <label for="fname">First name</label>
                        <input type="text" class="form-control" name="fname" id="fname" value="{{fname}}">
                     </div>
                     <div class="form-group">
                        <label for="lname">Last name</label>
                        <input type="text" class="form-control" name="lname" id="lname" value="{{lname}}">
                     </div>

                     <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" name="address" id="address" autocomplete="off" value="{{address}}">
                        <input type="hidden" name="lat" value="{{lat}}" readonly>
                        <input type="hidden" name="lng" value="{{lng}}" readonly>
                        <input type="hidden" name="utc" value="{{utc}}" readonly>
                     </div>
                     <div class="form-group row">
                        <div class="col-4">
                           <label for="optional">Opt.</label>
                           <input type="text" class="form-control" name="optional" id="optional" value="{{optional}}">
                        </div>
                        <div class="col pl-0">
                           <label for="zipcode">Zipcode</label>
                           <input type="zipcode" class="form-control" name="zipcode" id="zipcode" value="{{zipcode}}">
                        </div>
                     </div>
                  
                     <div class="form-group mt-4 mb-0">
                        <button class="btn w-100 button background" disabled>
                           <i data-feather="plus"></i> Save changes
                        </button>
                     </div>
                  </form>  
               </li>
            </ul>
         </li>
   
         <li>
            <a href="#0" class="red">
               <i data-feather="trash" class="mr-2"></i>
               Delete
            </a>
            
            <ul>
               <li>
                  <form class="p-4 remove" data-id="{{id}}">
                     <h4>Are you sure what you want to delete this account?</h4>
                     <button href="#0" class="btn w-100 mt-3 cancel">
                        <i data-feather="trash"></i> Delete
                     </button>
                     <small class="d-block mt-2 text-center">After deletion, you can return it back within 30 days</small>
                  </form>
               </li>
            </ul>
         </li>
      </ul>
   </li>