<div class="col-12 {{#if onvacation}}vacation{{else}}mb-4{{/if}} master master__{{id}}" data-master-{{id}}>
	<div class="row mx-0 p-2">
		<div class="col-8 p-0">
			<a href="#0"
				class="name action"
				data-popover="admin/popover/masters"
				data-type="webview"
				data-master="{{id}}"
				data-placement="bottom-right"
			>
				<canvas class="mr-2" style="background-image: url(/dist/cache/avatar/{{avatar}}.svg)"></canvas>
				<strong class="routed--blue">
					<span data-master-{{id}}-fname>{{fname}}</span>
					<span data-master-{{id}}-lname>{{lname}}</span>
				</strong>
			</a>
		</div>

		<div class="col pl-0 pr-1 text-right">
			<a href="#0" class="d-inline d-md-none vacation-d-none" data-popover="map">
				<i data-feather="map"></i>
			</a>

			<a href="#0"
				class="action ready ml-3 vacation-d-none"
				data-tootik="Lock the route"
				data-tootik-conf="left"
			>
				<i data-feather="unlock"></i>
			</a>

			<a href="#0" class="strong onvacation-d-block" data-tootik="On vacation for today" data-tootik-conf="left">
				<i data-feather="coffee"></i>
			</a>
		</div>
	</div>

	<div class="row mt-2 vacation-d-none">
		<div class="col-12">
			<div class="orders grid" data-type="master" data-type-id="{{id}}" data-date="{{date}}"></div>
		</div>
	</div>

	<div class="row mb-4 mt-2 mx-0 pl-4 total--block vacation-d-none">
		<div class="col-4 text-truncate pr-0 pl-2 my-auto small">
			<strong>Total:</strong>
		</div>
		<div class="col text-right pl-0 pr-2 my-auto small">
			<a href="#0" class="total mr-1">
				<i data-feather="map-pin"></i> 0 mi.
			</a>
			<span class="money">
				<i data-feather="dollar-sign"></i> 0
			</span>
		</div>
	</div>
</div>
