<nav class=" pt-webview pt-lg-0">
	<h2 class="px-3 pb-3 py-lg-2 border-bottom">Settings</h2>

	<nav class="menu mt-2 mt-lg-0">
		<a href="#0" class="d-block" for="sound">
			<label class="switch float-left mt-1 mr-2">
				<input type="checkbox" id="dark" {{#if dark}}checked{{/if}}>
				<span class="slider round"></span>
			</label>
			<label class="m-0 light">Dark mode</label>
		</a>
		
		<a href="#0" class="d-block" for="sound">
			<label class="switch float-left mt-1 mr-2">
				<input type="checkbox" id="sound" {{#if sound}}checked{{/if}}>
				<span class="slider round"></span>
			</label>
			<label for="sound" class="m-0 light">Sound</label>
		</a>
	</nav>

	<h5 class="strong mt-4 mx-3">Other</h5>
	<nav class="menu">
		<a href="#0" class="d-block" id="intercom">
			<i data-feather="message-square" class="mr-2"></i> Need help?
		</a>
	</nav>
	
	<h5 class="strong mt-4 mx-3">Docs</h5>
	<nav class="menu">
		<a href="https://dtfs.pro/dist/cache/terms.pdf" class="d-block" target="_blank">
			<i data-feather="file-text"/></i> Terms of service
		</a> 
		<a href="https://dtfs.pro/dist/cache/privacy.pdf" class="d-block" target="_blank">
			<i data-feather="file-text"/></i> Privacy policy
		</a>
		<a href="#0" class="d-none" >
			<i data-feather="terminal"></i> Worker.cloud
		</a>
	</nav>
	
	<div class="text-center p-4 m-auto" style="max-width: 300px;">
		<p class="m-0">
			© 2019 D&amp;T Furniture Services.<br> All rights reserved
		</p>
		<p class="m-0">
			v.1.0.0 beta
		</p>
	</div>
</nav>