@font-face {
	font-family: 'FuturaPT';
	src: url("/dist/cache/fonts/FuturaPTLight.eot");
	src: local('☺'), url("/dist/cache/fonts/FuturaPTLight.woff") format('woff'), url("/dist/cache/fonts/FuturaPTLight.ttf") format('truetype'), url("/dist/cache/fonts/FuturaPTLight.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaPT';
	src: url("/dist/cache/fonts/FuturaPTHeavy.eot");
	src: local('☺'), url("/dist/cache/fonts/FuturaPTHeavy.woff") format('woff'), url("/dist/cache/fonts/FuturaPTHeavy.ttf") format('truetype'), url("/dist/cache/fonts/FuturaPTHeavy.svg") format('svg');
	font-weight: bold;
	font-style: normal;
}

$font: 'FuturaPT',
sant-serif;
$main: #6059f7;
$dark: #6610f2;

@import "../../node_modules/jquery-slinky/dist/slinky.min.css";
@import "../../node_modules/flickity/css/flickity.css";
@import "../../node_modules/webui-popover/dist/jquery.webui-popover.min.css";
@import "../../node_modules/tootik/css/tootik.min.css";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/jquery-slinky/dist/slinky.min.css";
@import "./module/other/flickity";
@import "./module/other/button";
@import "./module/other/popover";
@import "./module/other/max992";
@import "./module/other/min992";
@import "./module/other/icon";
@import "./module/other/slinky";
@import "./module/main/app";
@import "./module/main/planner";
@import "./module/main/admin";
@import "./module/main/master";
@import "./module/main/vendor";
@import "./module/other/webview";