<div class="container">
	<div class="row h-100 mx-0">
		<div class="col mt-4 my-lg-auto d-none-webview">
			<h1 class="animate">
				Repair your<br /> furniture in <br />
				<span class="color--main">two</span> steps
			</h1>
			<p class="small animate">Just signin, describe what special you need and thats all. Our master will come to you faster, than you can imagine.</p>
		</div>
		<div class="col-md-4 col-xl-4 my-auto form px-md-0 py-5 py-lg-0">
			<form class="animate">
				<div class="form-group text-center">
					<h2>
						<img src="/dist/cache/icon/room.svg" class="icon" />
						First step
					</h2>
					<span class="d-block form-text text-muted mt-2">
						Start typing your mobile or home number and we will send a code to sign you in.
					</span>
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="tel" name="phone" class="form-control phone" placeholder="Enter phone number" value="+1 ">
				</div>
				<div class="form-group code" style="display: none;">
					<label>Code</label>
					<input type="tel" pattern="[0-9]*" class="form-control code" placeholder="* * * *">
				</div>
				<div class="form-group mb-1">
					<button type="submit" class="btn button background" data-step="1">
						Next step <i data-feather="arrow-right" class="ml-2"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
	
	<div class="footer row mx-0">
		<div class="col-lg text-center text-lg-left order-2 order-lg-1">
			<p class="animate">
				© 2019 D&amp;T Furniture Services. All rights reserved
			</p>
			<p>
				<a href="/dist/cache/terms.pdf" target="_blank" class="animate mr-3">
					<i data-feather="file-text"/></i> Terms of service
				</a>
				<a href="/dist/cache/privacy.pdf" target="_blank" class="animate mr-3">
					<i data-feather="file-text"/></i> Privacy policy
				</a>
				<a href="#0" class="animate d-none" target="_blank">
					<i data-feather="terminal" class="mr-1"></i>
					Worker.cloud
				</a>
			</p>
		</div>
		<div class="col-lg text-center text-lg-right mb-3 mb-lg-0 order-1 order-lg-3 mt-lg-auto mb-lg-0"> 
			<nav>
				<a href="https://testflight.apple.com/join/ZRgvGiyG" class="icon icon--apple animate strong beta soon" target="_blank">IOS</a>
				<a href="/dist/cache/DTFS.apk" class="soon beta icon icon--android animate strong">Android</a>
			</nav>
		</div>
	</div>
</div>