{{#if CHANGEABLE}}
	<nav class="slinky" style="height: 124px;">
		<ul>
			<li class="edit-block">
				<a href="#0" class="order--edit" data-id="{{id}}">
					<i data-feather="edit-3" class="mr-2"></i> Edit
				</a>
  
				<ul>  
					<li class="form">   
						<div class="p-4">
							<div class="form-group">
								<label for="vendor">Vendor</label>
								<select class="form-control" name="vendor" id="vendor" data-type="vendor" data-value="{{vendor.id}}"></select>
							</div> 

							<div class="form-group row">
								<div class="col-4 pr-0">
									<label for="sc">SC</label>
									<input type="text" class="form-control" name="sc" id="sc">
								</div>
								<div class="col">
									<label for="dd">Delivery date</label>
									<input type="text" class="form-control date" name="dd" id="dd">
								</div>
							</div>
	
							<div class="form-group">
								<label for="product">Product</label>
								<input type="text" class="form-control" name="product" id="product">
							</div>
	
							<div class="form-group">
								<label for="comment">Order description</label>
								<textarea class="form-control comment" name="comment" id="comment" style="min-height: 83px;"></textarea>
							</div>

							<div class="form-group mt-2 mb-0">
								<button class="request--create btn button background w-100" disabled>
								<i data-feather="plus"></i> Save changes
								</button>
							</div>
						</div>
					</li>
				</ul>
			</li>



			{{#if DELETEABLE}}
				<li class="delete-block">
					<a href="#0" class="red">
						<i data-feather="trash-2" class="mr-2"></i> Delete
					</a>

					<ul>
						<li>
							<form class="p-4" data-request-remove="{{id}}">
								<h4>Are you sure what you want to delete?</h4>
								<button href="#0" class="btn w-100 mt-3 remove">
									<i data-feather="trash-2"></i> Delete
								</button>
								<small class="d-block mt-2 text-center">After deletion, it can't be reterned.</small>
							</form>
						</li>
					</ul>
				</li>
			{{else if COPYABLE}}
				<li class="copy-block">
					<a href="#0" class="blue" data-id="{{id}}" disabled>
						<i data-feather="copy" class="mr-2"></i> Copy
					</a>

					<ul>
						<li>
							<form class="p-4" data-request-copy="{{id}}">
								<h4>Are you sure what you want to copy order?</h4>
								
								<button href="#0" class="btn w-100 background mt-3">
									<i data-feather="copy"></i> Copy
								</button>
								<small class="d-block mt-2 text-center">It will create similar order in backlog.</small>
							</form>
						</li>
					</ul>
				</li>
			{{else}}
				<li class="cancel-block">
					<a href="#0" class="red" data-id="{{id}}" disabled>
						<i data-feather="x-circle" class="mr-2"></i> Cancel
					</a>

					<ul>
						<li>
							<form class="p-4" data-request-cancel="{{id}}">
								<h4>Are you sure what you want to cancel?</h4>
								
								<div class="form-group mt-4">
									<label for="comment">Comment</label>
									<textarea class="form-control" name="comment" id="comment"></textarea>
								</div>
								<button href="#0" class="btn w-100 cancel" disabled>
									<i data-feather="x-circle"></i> Cancel
								</button>
								<small class="d-block mt-2 text-center">After canceletion you will be able to reattach or delete it.</small>
							</form>
						</li>
					</ul>
				</li>
			{{/if}}
		</ul>
	</nav> 
{{else}}
	<div data-loader style="height: 124px;"></div>
{{/if}}


