.bth,
.form-control {
	height: 50px;
}

.btn {
	color: #fff;
	border-radius: 0.25em;
	padding: 0.5em 0.75em;
	font-weight: 900;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: 16px !important;
	transition: all .3s;

	&:hover {
		transform: translateY(2px);
		transition: all .3s;

		svg {
			&.feather-arrow-right {
				transition: all 0.3s;
			}
		}
	}

	&:focus,
	&:active {
		outline: none;
		box-shadow: none !important;
	}

	svg {
		vertical-align: middle;
		width: 16px;
		height: 16px;
		margin-top: -4px;
		margin-right: .25em;

		&.right {
			margin-right: 0;
			margin-left: 5px;
		}
	}
}

.button,
button {
	border-radius: 0.25em;
	font-weight: 900;
	color: $main; 
	border-color: $main;
	background-color: transparent;
	padding: 0.5em;
	outline: none;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-size: 16px !important;

	img {
		width: 18px;
		margin-top: -8px;
	}

	&.active, &.loading {
		color: rgba(0,0,0,0) !important;
		filter: grayscale(1);
		background-repeat: no-repeat !important;
		background-position: center !important;
		background-size: 16px !important;
		background-image: url(/dist/cache/loader.svg) !important;
	}

	&.loading {
		opacity: 0.65;
		filter: grayscale(1) !important;
		pointer-events: none !important;
	}

	&.small {
		font-size: 80%;
		padding: 0.125em 0.75em;

		svg {
			width: 14px;
			height: 14px;
			margin-top: -2px;
		}
	}

	&.large {
		padding: 0.5em 0.75em;
	}

	&.background,
	&.loading,
	&.active {
		color: #fff;
		background-color: $main;
		border-color: $main;

		&:hover {
			color: #fff;
			background-color: $dark;
			border-color: $dark;
		}


		&.green {
			color: #fff;
			background-color: $green;
			border-color: $green;

			&:hover {
				color: #fff;
				background-color: $green;
				border-color: $green;
			}
		}
	}

	&:active,
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}

	&:hover {
		outline: none;
		color: #fff;
		background-color: $dark;
		border-color: $dark;
	}

	&:disabled {
		pointer-events: none;
		transform: translateY(0);
		box-shadow: none;
		filter: grayscale(1);
	}

	&.pay {
		background-color: $green;
		border-color: $green;
		color: #fff;

		&:hover {
			color: #fff;
			background-color: $success;
			border-color: $success;
		}
	}

	&.cancel,
	&.delete,
	&.remove {
		background-color: $red;
		color: #fff;
		border-color: $red;
		font-weight: 900;

		&:hover {
			color: #fff;
			background-color: $danger;
		}

		&.loading,
		&.active {
			background-color: $danger;
			background-color: $danger;
		}
	}
}


/* The switch - the box around the slider */
.switch {
	display: inline-block;
	width: 32px;
	position: relative;
	height: 18px;
	margin: 0;

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;

		&:before {
			position: absolute;
			content: "";
			height: 10px;
			width: 10px;
			left: 6px;
			bottom: 4px;
			background-color: #fff;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		&.round {
			border-radius: 34px;

			&:before {
				border-radius: 50%;
			}
		}
	}

	input {
		display: none;

		&:checked+.slider {
			background-color: $main;
		}

		&:focus+.slider {
			box-shadow: 0 0 1px $main;
		}

		&:checked+.slider:before {
			-webkit-transform: translateX(10px);
			-ms-transform: translateX(10px);
			transform: translateX(10px);
		}
	}
}