.flickity { 
	outline: none;
	@include media-breakpoint-down(sm) {
		overflow: hidden !important;
	}

	.flickity-viewport {
		overflow: visible;
		outline : none;
		width   : 100%;

		.flickity-slider {
			outline: none;
			height : 100%;
		}
	}
}