.icon { 
	padding-left       : 20px;
	background-size    : 14px;
	background-position: center left;
	background-repeat  : no-repeat;

	&.icon--apple {
		background-image: url("/dist/cache/icon/apple.svg");
	}

	&.icon--android {
		background-image: url("/dist/cache/icon/android.svg");
	}

	&.icon--windows {
		background-image: url("/dist/cache/icon/windows.svg");
	}

	&.icon--mac {
		background-image: url("/dist/cache/icon/mac.svg");
	}
}