@media all and (max-width: 992px) {
	.xs-display-none { 
		display: none !important;
	}

	body {
		&.home {
			.h-100 {
				display: block;
				height : auto !important;
				margin : 0 0 0 !important;
			}

			main { 
				background: transparent !important;
				position: relative;
				height    : auto;
				margin-top: 0 !important;

				.container {
					padding: 0;
				}

				h1 {
					margin-top: 50px;
					font-size : 3em !important;
				}

				form {
					margin: 25px 0 25px !important;
				}

				.form {
					min-width: 100% !important;
				}

				.small {
					max-width : 100% !important;
					margin-top: 25px !important;
				}
			}
		}
	}

	header {
		padding: 0.25rem 0 0.5rem;
	}

	.map {
		border-top   : 1px solid #f9f9f9;
		position     : relative;
		height       : 75vh;
		width        : calc(100% + 30px);
		border-radius: 0;
		margin       : 0 -15px;
	}
}