@media all and (min-width: 992px) {
	body {
		overflow-x: hidden;

		&.home {
			background: #FBFBFB;

			main {
				.container {
					position: relative;

					&::after {
						content: '';
						display: block;
						background-image: url("/dist/cache/gif/home.gif");
						background-repeat: no-repeat;
						background-size: 50% auto;
						background-position: bottom 15% left 40%;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: -99;
					}

					h1 {
						margin-top: -10% !important;
					}

					p.small {
						margin-top: 2rem;
					}
				}
			}

			header {
				top: 0;
				left: 0;
				width: 100%;
				position: fixed;
			}

			footer {
				bottom: 15px;
				left: 0;
				width: 100%;
				position: absolute;
			}
		}

		&.user {
			main {
				padding-bottom: 50px;
			}
		}

		&.vendor {
			.day {
				.scrolling {
					min-height: 350px !important;
				}
			}
		}
	}

	.timeline {
		max-height: calc(100vh - 90px - 3rem);
		min-height: calc(100vh - 90px - 3rem);
		overflow: auto;
	}

	.day {
		.scrolling {
			max-height: calc(100vh - 172px);
			min-height: calc(100vh - 172px);
			overflow: auto;
		}
	}

	.plan {
		.plan__orders {
			padding-top: 20px;
			margin-top: -20px;
			height: calc(100vh - 88px - 1rem - 75px);
			overflow-y: auto;
		}
	}

	.logo.avatar {
		margin-bottom: calc(-.75em - 42px);
	}
}