.webui-popover {
	border: 0;
	box-shadow: 0 0 128px rgba(0, 0, 0, 0.15);
	padding: 0;
	z-index: 4;
	max-width: calc(100% - 30px);
	overflow: visible !important;
	border-radius: 0.25em;
	background: #fff;
	transition: all .05s;

	@include media-breakpoint-down(sm) {
		padding: 0 !important;
		margin: 0 !important;

		.list,
		.map-ui,
		.webui-popover-content,
		.webui-popover-inner {
			width: 100%;
			height: 100%;
		}
	}

	.webui-popover-inner {
		overflow: hidden;

		.webui-popover-content {
			padding-bottom: 10em;
			overflow: auto;
			-webkit-overflow-scrolling: touch;

			>div {
				&:first-child {
					width: 100% !important;
				}
			}
		}
	}

	table {
		tr {
			border-bottom: 1px solid #f9f9f9;

			td {
				&:first-child {
					margin-bottom: 5px;
					margin-top: 5px;
					display: block;
					margin-right: 50px;
					text-transform: capitalize;
				}
			}

			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	.webui-arrow { 
		visibility: hidden !important;
	}

	.close {
		display: none;
		background-image: url(/dist/cache/icon/chevron-down.svg);
		background-position: top .4em center;
		background-repeat: no-repeat;
	}

	@include media-breakpoint-down(sm) {
		position: absolute;
		left: 0 !important;
		top: 0px !important;
		margin: 0 !important;
		min-width: 100vw;
		min-height: 100vh;
		z-index: 10;

		.block {
			border: 0 !important;
			border-radius: 0;
		}

		.border-right {
			border: 0 !important;
		}

		.close {
			display: block;
			position: absolute;
			margin: 0;
			height: 50px;
			opacity: 1;
			float: none;
			font-size: 32px;
			font-weight: 100;
			z-index: 1;
			max-width: 100%;
			width: 100%;
			text-align: top center;
			top: -50px;
			transition: all 0s;

			&::after {
				visibility: hidden;
				margin: 0;
				padding: 0;
				color: $main;

				&:hover {
					color: $dark;
				}
			}
		}
	}

	.webui-popover-inner {
		border-radius: 0.25em;

		.webui-popover-content {
			padding: 0;
			min-width: 200px;
			border-radius: 0.25em;

			nav {
				overflow: hidden;

				&.menu {
					.action {
						font-weight: 100 !important;
						margin-top: 4px;
						color: #e3e3e3;
						font-size: 14px;

						svg {
							width: 12px;
							height: 12px;
							margin-right: 0;
						}
					}
				}

				&.order__phone {
					.order__phone--message {
						&:hover {
							background: $green;
						}
					}
				}

				&.order__menu {
					.order--delete {
						&:hover {
							background: $red;
						}
					}

					.order--archive {
						&:hover {
							background: $orange;
						}
					}
				}

				&.order__history {
					border-radius: 0.25em;    
					max-height: 250px;
					overflow: auto;
					background-size: 10px;
					background-position: center;

					@include media-breakpoint-down(sm) {
						max-height: calc(100vh - 1.5rem);
						padding-bottom: 30px;
					}

					&.empty {
						padding: 100px !important;
						width: 150px !important;
						height: 150px !important;
						background-size: 75% !important;
					}

					.comment {
						&:empty {
							display: none;
						}

						display: block;
					}

					> div {
						display: block;
						padding: 1em;

						span {
							opacity: .5;
						}

						&:hover {
							cursor: default;
							background: #e3e3e3;
							color: #000;
							border-color: #e3e3e3 !important;

							span {
								color: #000;
							}
						}
					}
				}

				a { 
					border-bottom: 1px solid #f2f2f2;
					color: #000;
					width: 100%;
					padding: 1em;

					&.border-bottom { 
						border-color: #f2f2f2 !important;
					}

					&.button {
						background-color: $main;
						color: #fff;  
						padding: .7em 1em;
						width: auto;

						&::after {
							filter: invert(1);
							opacity: 1;
						}

						&:hover {
							background-color: $dark;
							transform: translateY(2px);
						}
					}

					&::after,
					&::before {
						color: #000;
						padding: 0;
					}

					svg {
						margin-right: .25em;
					}

					&.hover {
						background-color: #f9f9f9;
					}

					&.active,
					&:hover {
						background: #f2f2f2;

						&::after,
						&::before {
							color: #fff;
						}
					}

					&.back {
						width: auto;

						&::before,
						&::after {
							padding: 0;
						}
					}
				}

				hr {
					margin: 0;
					border-color: #e3e3e3;
				}
			}
		}
	}
}

[data-tootik] {
	font-weight: inherit;

	&:after {
		font-family: $font;
		background-color: $dark;
	}

	&:before {
		border-top-color: $dark;
	}

	&[data-tootik-conf*=left] {
		&:before {
			border-left-color: $dark;
		}
	}

	&[data-tootik-conf*=right] {
		&:before {
			border-right-color: $dark;
		}
	}
}

.pac-container {
	margin-top: 10px;
	font-family: $font;
	z-index: 9999999999;
	border: 0;
	box-shadow: 0 0 64px rgba(0, 0, 0, .08);
	border-radius: 0.25em;

	.pac-item {
		cursor: pointer;
		font-size: 14px;
		padding: 5px 10px;
		border-top: 0;
		border-bottom: 1px solid #f9f9f9;

		&:hover {
			background: #f2f2f2;
		}
	}

	&:after {
		display: none !important;
	}
}