.slinky {
   &.slinky-theme-default {
      width: 100%; 
      max-width: 100%;
      background: transparent;

      @include media-breakpoint-down(sm) {
         width: 100%;
      }
    
      .title {
         line-height: 1.4;
         padding: 1em;
         border-bottom: 1px solid #f2f2f2;
         font-weight: 900;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
      }

      .back {
         min-width: 62px;
         min-height: 62px;

         &::before {
            font-size: 14px;
            width: 100%;
            height: 100%;
         }

         &:hover {
            &::before {
               color: #fff;
            }
         }
      }

      .next {
         &::after {
            font-size: 14px;
            margin: 0;
            padding: 0;
         }

         &.no-arrow {
            background: #f9f9f9;

            &::after {
               opacity: 0;
            }

            &:hover {
               &::after {
                  opacity: 1;
               }
            }
         }
      }

      ul {
         &.no-header {
            > .header {
               & > header {
                  text-indent: 100000px;
               }
            }
         }
      }
   }
}

