.webview-menu {
	z-index: 3;
	
	a { 
		&::before,
		&::after {
			display: none;
		}
		
		small {
			font-size: 11px;
			font-weight: 900;
		}
	}

	@include media-breakpoint-up(sm) {
		position: fixed;
		left: 0; 
		top: 0;
		background: $main;
		height: 100%;
		width: 64px;
		text-align: center;
		display: block;
		box-shadow: 0 0 64px rgba(0,0,0,.08);

		a {
			width: 100%;
			display: block;
			text-align: center;
			padding: 17.5px;
			color: #fff;
			border-top: 1px solid rgba(0,0,0,.03);
			transition: all .3s;

			&::before,
			&::after {
				display: block;
			}

			&::after {
				font-weight: 900;
    			padding: .5em 1em;
			}

			&:last-child {
				border-bottom: 1px solid rgba(0,0,0,.03);
			}

			&.active, 
			&:hover {
				background-color: $main;
				box-shadow:  0 0 32px rgba(0,0,0,.15);
				transition: all .3s;
			}
		}
	}
}

.d-block-webview,
.d-flex-webview {
	display: none;
}

.d-inline-webview {
	display: none;
}

.webview {
	.header {
		position: relative;

		.avatar {
			position: absolute;
			right: 0;
			bottom: 0;
			margin-bottom: .125em !important;
			width: calc(42px - .25em);
			height: calc(42px - .25em);
			z-index: 99;
		}
	}
  
	.d-none-webview {
		display: none !important;
	}

	.d-flex-webview {
		display: flex !important;
	}

	.d-block-webview {
		display: block !important;
	}

	.d-inline-webview {
		display: inline-block;
	}

	.webui-popover {
		max-height: 100vh;
		min-height: 100vh;
		box-shadow: none;
		z-index: 2;

		.webui-popover-content {
			max-height: 100vh;
			min-height: 100vh;
			padding-bottom: 5em;

			> .slinky {
				min-height: 100vh;
			}
		}
	}

	.webview-menu {
		width: 100vw;
		position: fixed;
		bottom: 0;
		left: 15px;
		padding-bottom: 24px;
		-webkit-backdrop-filter: saturate(180%) blur(20px);
		backdrop-filter: saturate(180%) blur(20px);
		box-shadow: 0 -8px 32px rgba(0,0,0,.05);
		
		a {
			color: #000;
			text-align: center;
			padding: .5em 0 !important;

			svg {
				width: 22px;
				height: 22px;
				line-height: 22px;
			}

			&.active {
				color: $main !important;

				small {
					color: $main !important;
				}
			}
		}
	}

	.mt-webview {
		margin-top: 60px !important;
	}

	.pt-webview {
		padding-top: 60px !important;
	}

	.webview-order-1 {
		order: 1; 
	}

	.webview-order-2 {
		order: 2; 
	}

	.webview-order-3 {
		order: 3; 
	}

	.intercom-launcher-frame {
		bottom: 100px !important;
	}
}


.webview-create-icon {
	background-color: transparent;
	 
	svg {
		width: 64px;
		height: 64px;
		padding: 1em;
		border: 1px solid #f9f9f9;
		box-shadow:  0 0 64px rgba(0,0,0,.08);
		border-radius: .5em;
	}
}