<div class="col-12 col-lg-6 day master pr-lg-0">
    <div class="row my-2 mb-md-0">
        <div class="col my-auto">
            <h3>{{name}}</h3>
        </div>
        
        <div class="col mt-auto text-right">
            <a href="#0" class="d-inline d-md-none" data-popover="map">
                <i data-feather="map"></i>
            </a>
        </div>
    </div>

    <div class="row scrolling pt-2 px-3">
        <div class="orders"></div>
    </div>

    <div class="row mb-4 py-2 mx-0 pl-4">
        <div class="col-4 text-truncate animate pr-0 pl-2 my-auto">
            <strong>Total:</strong>
        </div>
        <div class="col text-right pl-0 pr-2 my-auto">
            <span class="total mr-1">
                <i data-feather="map-pin"></i> 0 mi.
            </span>
            <span class="money">
                <i data-feather="dollar-sign"></i> 0
            </span>
        </div>
    </div>

</div>
    