<form class="slinky pt-5 pt-md-0 mt-webview report animate" data-request="{{id}}">
    <div class="p-4">
        <div class="form-group row">
            <div class="col-12">
                <label for="category">Category</label>
                <select class="form-control" name="category" id="category">
                        <option selected>
                            Inspection
                        </option>
                        <option>
                            Repair
                        </option>
                        <option>
                            Leather repair
                        </option>
                    </select>
            </div>
        </div>
    
        <div class="form-group row">
            <div class="col">
                <label for="product">Product</label>
                <input type="text" class="form-control" name="product" id="product" value="{{product}}">
            </div>
            <div class="col pl-0">
                <label for="label">Label</label>
                <input type="text" class="form-control" name="label" id="label">
            </div>
        </div>
    
        <div class="form-group row">
            <div class="col">
                <label for="rate_condition">Rate condition</label>
                <select class="form-control" name="rate_condition" id="rate_condition">
                        <option selected>
                            1
                        </option>
                        <option>
                            2
                        </option>
                        <option>
                            3
                        </option>
                        <option>
                            4
                        </option>
                        <option>
                            5
                        </option>
                    </select>
            </div>
            <div class="col pl-0">
                <label for="damage_code">Code</label>
                <select class="form-control" name="damage_code" id="damage_code">
                        <option selected>
                            MD
                        </option>
                        <option>
                            DD
                        </option>
                        <option>
                            CF
                        </option>
                    </select>
            </div>
        </div>
    
        <div class="form-group row">
            <div class="col-12">
                <label for="damage_source">Source of damage</label>
                <input type="text" class="form-control" name="damage_source" id="damage_source">
            </div>
        </div>
    
        <div class="form-group row">
            <div class="col-12">
                <label for="work_performed">Work performed</label>
                <input type="text" class="form-control" name="work_performed" id="work_performed">
            </div>
        </div>
    
        <div class="form-group row">
            <div class="col-12">
                <label for="part_order">Part order</label>
                <input type="text" class="form-control" name="part_order" id="part_order">
            </div>
        </div>
    
    
        <div class="form-group row">
            <div class="col">
                <label for="comment">Comment</label>
                <textarea class="form-control comment" name="comment" id="comment" style="min-height: 81px"></textarea>
            </div>
        </div>
    
        <div class="row form-group mb-0">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <label for="report_file_{{id}}">Photo</label>
                    </div>
                </div>
    
                <p>
                    Upload photos of product, label, source of damage and work perfomed
                </p>
                <div class="gallery" style="min-height: 62px"></div>
                <input type="file" name="files[]" id="report_file_{{id}}" style="display: none" multiple />
                <input type="hidden" name="request[]" value="{{id}}" />
                <input type="hidden" name="type[]" value="report" />
            </div>
        </div>
    
        <div class="form-group row mt-3">
            <div class="col">
                <button class="btn button background w-100" disabled>
                        <i data-feather="save"></i> Save report
                    </button>
            </div>
        </div>
    </div>
</form>
    