<li>
   <a href="#0" class="strong">
      <i data-feather="plus-circle"></i>
      New master
   </a>

   <ul>
      <li>
         <form class="p-4 form">
            <div class="form-group">
               <label for="phone">
                  Phone
                  <small class="d-block">
                     This phone will be used for signin to out system.
                  </small>
               </label>
               <input type="tel" class="form-control" name="phone" id="phone" value="+1 ">
            </div>

            <div class="form-group">
               <label for="fname">First name</label>
               <input type="text" class="form-control" name="fname" id="fname">
            </div>

            <div class="form-group">
               <label for="lname">Last name</label>
               <input type="text" class="form-control" name="lname" id="lname">
            </div>

            <div class="form-group">
               <label for="address">Address</label>
               <input type="text" class="form-control" name="address" id="address" autocomplete="off">
               <input type="hidden" name="lat" readonly>
               <input type="hidden" name="lng" readonly>
               <input type="hidden" name="utc" readonly>
            </div>
            <div class="form-group row">
               <div class="col-4">
                  <label for="optional">Opt.</label>
                  <input type="text" class="form-control" name="optional" id="optional">
               </div>
               <div class="col pl-0">
                  <label for="zipcode">Zipcode</label>
                  <input type="zipcode" class="form-control" name="zipcode" id="zipcode">
               </div>
            </div>
         
            <div class="form-group animate mt-4 mb-0">
               <button class="btn w-100 button background" disabled>
                  <i data-feather="plus"></i> Create master
               </button>
            </div>
         </form>                     
      </li>
   </ul>
</li>