<div class="invoice slinky mb-2" data-status="{{status}}" data-invoice-handler="{{id}}">
   <ul class="active" style="left: 0;">
      <li>
         <a href="#0" class="border-0">
            <div class="d-block invoice-top mb-1 mb-lg-0">
               <span data-invoice-service class="mr-1 tag" data-service_name-change="{{id}}">{{service_name}}</span>
               <span class="tag status"></span>
            </div>
            <span class="strong" >
               $<span data-price-change="{{id}}">{{price}}</span>
            </span> 
            <span>
               for <span data-date-change="{{id}}">{{date}}</span>
            </span>
         </a>

         <ul>
            {{#if request.vendor}}
               <li>
                  <a href="#0">
                     <span class="row">
                           <span class="col-4 col-lg-3 pr-0">
                              Vendor:
                           </span>
                           <span class="col text-right strong blue">
                              {{request.vendor.company_name}}
                           </span>
                     </span>
                  </a>
               </li>
            {{/if}}
            
            <li>
               <a href="#0" class="border-bottom">
                  Service:
                  <span class="float-right strong text-capitalize" data-service_name-change="{{id}}">{{service_name}}</span>
               </a>
            </li>

            <li>
               <a href="#0" class="border-bottom">
                  Price:
                  <span class="float-right strong">
                     $<span data-price-change="{{id}}">{{price}}</span>
                  </span>
               </a>
            </li>

            {{#if comment}}
            <li>
               <a href="#0" class="hover border-bottom">
                  {{comment}}
               </a>
            </li>
            {{/if}}

            {{#if request}}
               <!-- ORDER -->
               <li>
                  <a href="#0">
                     <i data-feather="package"></i> Order #{{request.id}}
                  </a>

                  <ul>
                     <li>
                        <a href="#0">
                           <span class="row">
                                 <span class="col-4 col-lg-3 pr-0">
                                    Category:
                                 </span>
                                 <span class="col text-right strong">
                                    {{request.category}}
                                 </span>
                           </span>
                        </a>
                     </li>
                     <li>
                        <a href="#0">
                           <span class="row">
                                 <span class="col-4 col-lg-3 pr-0">
                                    Address:
                                 </span>
                                 <span class="col text-right strong">
                                    {{request.address}}
                                 </span>
                           </span>
                        </a>
                     </li>
                     <li>
                        <a href="#0">
                           <span class="row">
                                 <span class="col-4 col-lg-3 pr-0">
                                    Client:
                                 </span>
                                 <span class="col text-right strong">
                                    {{request.name}}
                                 </span>
                           </span>
                        </a>
                     </li>
                     <li>
                        <a href="tel:+{{request.phone}}">
                           <span class="row">
                                 <span class="col-4 col-lg-3 pr-0">
                                    Phone:
                                 </span>
                                 <span class="col text-right strong blue" data-phone-convert>
                                    +{{request.phone}}
                                 </span>
                           </span>
                        </a>
                     </li>

                     {{#if request.comment}}
                        <li>
                           <a href="#0">
                              <span class="row mb-1">
                                    <span class="col">
                                       Order description:
                                    </span>
                              </span>
                              <span class="row">
                                 <span class="col">
                                    {{request.comment}}
                                 </span>
                           </span>
                           </a>
                        </li>
                     {{/if}}

                     {{#if request.subcomment}}
                        <li>
                           <a href="#0">
                              <span class="row">
                                    <span class="col mb-1">
                                       Comment:
                                    </span>
                              </span>
                              <span class="row">
                                 <span class="col">
                                    {{request.subcomment}}
                                 </span>
                           </span>
                           </a>
                        </li>
                     {{/if}}
                  </ul>
               </li>
               <!-- ORDER -->
            {{/if}}

            {{#if report}}
               <!-- REPORT -->
               <li>
                  <a href="#0">
                     <i data-feather="clipboard"></i> Report
                  </a>

                  <ul data-report></ul>
               </li> 
               <!-- REPORT -->
            {{/if}}


            <!-- COMPLETE INVOICE -->
            <li data-pay>
               <a href="#0" class="green strong" data-pay="{{id}}">
                  <i data-feather="dollar-sign" class="mr-1"></i>
                  Pay
               </a>

               <ul>
                  <li> 
                     <form class="p-4">
                        <h4>Wanna pay ${{price}} to {{master.fname}} {{master.lname}}?</h4>
                        <button href="#0" class="btn w-100 mt-3 pay">
                           <i data-feather="dollar-sign"></i> Pay
                        </button>
                        <small class="d-block mt-2 text-center">You will not be able to return it back.</small>
                     </form>
                  </li>
               </ul>
            </li>
            <!-- COMPLETE INVOICE -->


            <!-- CANCEL -->
            <li data-cancel>
               <a href="#0" class="red border-bottom-0 strong" data-cancel="{{id}}">
                  <i data-feather="x-circle" class="mr-1"></i>
                  Cancel
               </a>

               <ul>
                  <li>
                     <form class="p-4">
                        <h4>Are you sure what you want to cancel?</h4>
                        <button href="#0" class="btn w-100 mt-3 cancel">
                           <i data-feather="x-circle"></i> Cancel
                        </button>
                        <small class="d-block mt-2 text-center">You will not be able to return it back.</small>
                     </form>
                  </li>
               </ul>
            </li>
            <!-- CANCEL -->


            <!-- EXPORT -->
            <li data-export>
               <a href="#0" class="border-bottom-0 strong" data-export="{{id}}">
                  <i data-feather="arrow-down-circle" class="mr-1"></i>
                  Export
               </a>

               <ul>
                  <li>
                     <form class="p-4">
                        <h4>Are you sure what you want to export?</h4>
                        <button href="#0" class="btn w-100 mt-3 export background">
                           <i data-feather="arrow-down-circle"></i> Export
                        </button>
                        <small class="d-block mt-2 text-center">You will not be able to return it back.</small>
                     </form>
                  </li>
               </ul>
            </li>
            <!-- EXPORT -->
         </ul>
      </li>
   </ul>
</div>