<li data-master-handler="{{id}}">
   <a href="#0">
      <canvas class="avatar float-left mr-2 small" style="background-image: url(/dist/cache/avatar/{{avatar}}.svg)"></canvas>
      <span data-master-{{id}}-fname>{{fname}}</span>
      <span data-master-{{id}}-lname>{{lname}}</span>
   </a>

   <ul class="master-{{id}}"> 
      <li>
         <a href="#0" class="load-invoice">
            <i data-feather="dollar-sign" class="mr-2"></i>
            Invoices
         </a>
         
         <ul class="invoice-block">
            <li>
               <a href="#0" class="strong"> 
                     <i data-feather="plus-circle"></i>
                  New invoice
               </a>

               <ul>
                  <li>
                     <form class="p-4" name="invoice">
                        <div class="form-group">
                           <label for="distance">Price</label>
                           <input type="number" class="form-control" name="distance" id="distance">
                        </div>
                        <div class="form-group">
                           <label for="date">Date</label>
                           <input type="text" class="form-control date" name="date" id="date">
                        </div>
                        <div class="form-group">
                           <label for="city">Comment</label>
                           <textarea class="form-control" name="invoice_comment"></textarea>
                        </div>
                     
                        <div class="form-group mt-4 mb-0">
                           <button class="btn w-100 button background" disabled>
                              <i data-feather="plus"></i> Create invoice
                           </button>
                        </div>
                     </form>                     
                  </li>
               </ul>
            </li>

            <li>
               <a href="#0" class="strong"> 
                  <i data-feather="arrow-down-circle"></i>
                  Export
               </a>

               <ul>
                  <li>
                     <form class="p-4 exportDate">
                        <div class="form-group"> 
                           <label for="date">Date</label>
                           <input type="text" class="form-control invoice_dates" id="date" readonly>
                           <input type="hidden" name="from">
                           <input type="hidden" name="to">
                        </div>
                     
                        <div class="form-group mt-3 mb-0 row">
                           <div class="col pr-3"> 
                              <button class="btn w-100 background exportDate green" data-type="invoice" disabled>
                                 <i data-feather="arrow-down-circle"></i> Invoices
                              </button>
                           </div>
                           <div class="col pl-0">
                              <button class="btn w-100 background exportDate" data-type="report" disabled>
                                 <i data-feather="arrow-down-circle"></i> Reports
                              </button>
                           </div>
                        </div>
                     </form>                     
                  </li>
               </ul>

               <form>
                  <div class="form-group m-0">
                     <input type="search" class="form-control search" name="search" placeholder="Search for ...">
                  </div>
               </form>
            </li>

            <li class="list invoices p-3"></li>
         </ul>
      </li>

      <li>
         <a href="#0">
            <i data-feather="file-text" class="mr-2"></i>
            Documents
         </a>
         
         <ul class="document-block">
            <li>
               <a href="#0" class="strong">
                  <i data-feather="plus-circle"></i>
                  New document
               </a>

               <ul>
                  <li>
                     <form class="p-4 documentUpload">
                        <div class="file-handler"></div>
                        <small class="d-block text-center">Drag and Drop new files inside this block.</small>
                        <div class="form-group mt-3 mb-0">
                           <input type="file" class="d-none document" name="files[]" id="files" />
                           <label for="files" class="btn w-100 button background" disabled>
                              <i data-feather="paperclip"></i> Select files
                           </label>
                        </div>
                     </form>                     
                  </li>
               </ul>

               <form>
                  <div class="form-group m-0">
                     <input type="search" class="form-control search" name="search" placeholder="Search for ...">
                  </div>
               </form>
            </li>

            <li class="list documents"></li>
         </ul>
      </li>

      <li>
         <a href="#0" class="load-vacation">
            <i data-feather="coffee" class="mr-2"></i>
            Vacations
         </a>
         
         <ul class="vacation-block">
            <li>
               <a href="#0" class="strong">
                  <i data-feather="plus-circle"></i>
                  New vacation
               </a>

               <ul>
                  <li>
                     <form class="p-4" name="vacation">
                        <div class="form-group">
                           <label for="vacation_dates">Dates</label>
                           <input type="text" class="form-control vacation_dates" name="vacation_dates" id="vacation_dates" readonly>
                           <input type="hidden" name="from" >
                           <input type="hidden" name="to" >
                        </div>
                        <div class="form-group">
                           <label for="vacation_comment">Comment</label>
                           <textarea class="form-control" name="vacation_comment" id="vacation_comment"></textarea>
                        </div>

                        <div class="form-group mt-3 mb-0">
                           <button class="btn w-100 button background">
                              <i data-feather="plus"></i> Create vacation
                           </button>
                        </div>
                     </form>                     
                  </li>
               </ul>

               <form>
                  <div class="form-group m-0">
                     <input type="search" class="form-control search" name="search" placeholder="Search for ...">
                  </div>
               </form>
            </li>

            <li class="list vacations p-3"></li>
         </ul>
      </li>

      <li>
         <a href="#0">
            <i data-feather="edit-3" class="mr-2"></i>
            Edit profile
         </a>
         
         <ul>
            <li>
               <form class="p-4 change form" data-master="{{id}}">
                  <div class="form-group">
                     <label for="phone">Phone</label>
                     <input type="tel" class="form-control" name="phone" id="phone" value="{{phone}}">
                  </div>
                  <div class="form-group">
                     <label for="fname">First name</label>
                     <input type="text" class="form-control" name="fname" id="fname" value="{{fname}}">
                  </div>
                  <div class="form-group">
                     <label for="lname">Last name</label>
                     <input type="text" class="form-control" name="lname" id="lname" value="{{lname}}">
                  </div>

                  <div class="form-group">
                     <label for="address">Address</label>
                     <input type="text" class="form-control" name="address" id="address" autocomplete="off" value="{{address}}">
                     <input type="hidden" name="lat" value="{{lat}}" readonly>
                     <input type="hidden" name="lng" value="{{lng}}" readonly>
                     <input type="hidden" name="utc" value="{{utc}}" readonly>
                  </div>
                  <div class="form-group row">
                     <div class="col-4">
                        <label for="optional">Opt.</label>
                        <input type="text" class="form-control" name="optional" id="optional" value="{{optional}}">
                     </div>
                     <div class="col pl-0">
                        <label for="zipcode">Zipcode</label>
                        <input type="zipcode" class="form-control" name="zipcode" id="zipcode" value="{{zipcode}}">
                     </div>
                  </div>
               
                  <div class="form-group mt-4 mb-0">
                     <button class="btn w-100 button background" disabled>
                        <i data-feather="plus"></i> Save changes
                     </button>
                  </div>
               </form>  
            </li>
         </ul>
      </li>

      <li class="d-none">   
         <a href="#0">
            <i data-feather="sliders" class="mr-2"></i>
            Cumstomize pricing
         </a>

         <ul>
            <li>
               <form class="p-4">
                  <div class="form-group">
                     <label for="distance">
                        Mile
                        <small class="d-block">
                           Set the price per mile
                        </small>
                     </label>
                     <input type="text" class="form-control price" name="distance" id="distance" value="$ {{pricing.mile}}" pattern="[0-9]*">
                  </div>
                  <div class="form-group">
                     <label for="fs">Furniture service</label>
                     <input type="text" class="form-control price" name="fs" id="fs" value="$ {{pricing.fs}}" pattern="[0-9]*">
                  </div>
                  <div class="form-group">
                     <label for="mi">Mattress inspection</label>
                     <input type="text" class="form-control price" name="mi" id="mi" value="$ {{pricing.mi}}" pattern="[0-9]*">
                  </div>
               
                  <div class="form-group mt-4 mb-0">
                     <button class="btn w-100 button background" disabled>
                        <i data-feather="plus"></i> Save changes
                     </button>
                  </div>
               </form>
            </li>
         </ul>
      </li>

      <li>
         <a href="#0" class="red">
            <i data-feather="trash" class="mr-2"></i>
            Delete
         </a>
         
         <ul>
            <li>
               <form class="p-4 remove" data-id="{{id}}">
                  <h4>Are you sure what you want to delete this account?</h4>
                  <button href="#0" class="btn w-100 mt-3 cancel">
                     <i data-feather="trash"></i> Delete
                  </button>
                  <small class="d-block mt-2 text-center">After deletion, you can return it back within 30 days</small>
               </form>
            </li>
         </ul>
      </li>
   </ul>
</li>