<div class="vacation vacation__{{id}} slinky mb-2">
   <ul class="active" style="left: 0;">
      <li>
         <a href="#0" class="border-0">
               <span class="tag upcoming">Upcoming</span>
               <span class="d-block">
                  {{from}} - {{to}}
               </span>
         </a>

         <ul>
            <li>
               <a href="#0">
                  Start:</strong>
                  <span class="float-right strong">{{from}}</span>
               </a>
            </li>

            <li>
               <a href="#0">
                  End:</strong>
                  <span class="float-right strong">{{to}}</span>
               </a>
            </li>

            {{#if comment}}
            <li>
               <a href="#0" class="hover">
                  {{comment}}
               </a>
            </li>
            {{/if}}

            <li>
               <a href="#0" class="red border-0">
                  <i data-feather="trash" class="mr-2"></i>
                  Delete
               </a>
               
               <ul>
                  <li>
                     <form class="p-4">
                        <h4>Are you sure what you want to delete this vacation?</h4>
                        <button href="#0" class="btn w-100 mt-3 cancel remove" data-id="{{id}}">
                           <i data-feather="trash"></i> Delete
                        </button>
                        <small class="d-block mt-2 text-center">You will not be able to return it back.</small>
                     </form>
                  </li>
               </ul>
            </li>
         </ul>
      </li>
   </ul>
</div>