<nav class="slinky pt-webview">
   <ul>
      <form>
         <h2 class="px-3 pb-3 py-lg-2 border-bottom d-block-webview">Managers</h2>
         <div class="form-group m-0">
            <input type="search" class="form-control search" name="search" placeholder="Search for ...">
         </div>
      </form>

      <div class="list managers h-100"></div>
   </ul>
</nav>